<div style="display: block;margin: auto;">
    <!--<div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div>-->
    <img style="width: 100%" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>

<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<div>
    <div class="row" style="padding: 60px;"> 
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mgb15" style="border: 1px gold ">
            <div>
                <h2 style="text-align: center">We Are Here!</h2>
                <hr style="max-width: 3.25rem; border-width: .2rem; border-color: #fed136">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12088.463304893483!2d106.5862972767684!3d10.796051559570238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c77f5878b7d%3A0xd8470d22957f9667!2zMzAgxJDGsOG7nW5nIHPhu5EgNiwgQsOsbmggSMawbmcgSG_DoCBCLCBCw6xuaCBUw6JuLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1570094464734!5m2!1sen!2s" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mgb25" style="border: 1px gold ">
            <h2 style="text-align: center">Let's Get In Touch!</h2>
            <hr style="max-width: 3.25rem; border-width: .2rem; border-color: #fed136">
            <div class="container">
                <h5>Văn Phòng Đại Diện</h5>                                    
                    <div>
                        Địa chỉ: 30 Đường số 6, Phường Bình Hưng Hòa B, Quận Bình Tân, TPHCM				        				
                    </div>
                    <div>
                        Email: <a href="https://mail.google.com" target="_blank">huynhduychu@gmail.com</a>
                    </div>
                    <div>
                        HotLine: 0908.776.569
                    </div>                
            </div>           
        </div>
    </div>
</div>

