
<link rel="canonical" href="https://inansongviet.com"/>
<!-- image and line in header -->
<div style="display: block;margin: auto;">
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img style="width: 100%;" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<div class="container" style="text-align: justify;">
<br><br>
    <h1>Hộp giấy là gì ?</h1>
    <p class="paragraph">
        In ấn hộp giấy là sản phẩm được chứa đựng, bảo quản, vận chuyển và trưng bày các sản phẩm công nghiệp và tiêu dùng. 
        Hộp giấy chủ yếu phổ biến đối với các mặt hàng sản phẩm yêu cầu cao về tạo hình, đòi hỏi tính thẩm mỹ cao. 
        Hộp giấy thường được đóng gói cẩn thận, mặt ngoài được thiết kế màu sắc chứa đựng hình ảnh sản phẩm, 
        logo thương hiệu riêng biệt của doanh nghiệp. 
        Do đó, thiết kế hộp giấy chính là một hình thức quảng bá hình ảnh cho doanh nghiệp tiếp cận rộng rãi và nhanh chóng với khách hàng.
    </p>    
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a routerLink="hop-dung-my-pham">
                <img src="../../assets/imgs/home/product/inansongviet/in-hop-giay-dung-son-gia-re.jpg" alt="htpps://inansongviet.com" title="in hộp giấy">
                <div  style="color: black; text-align: center;">Mẫu hộp đựng son</div>
            </a>
        </div> 
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a routerLink="hop-dung-my-pham">
                <img src="../../assets/imgs/home/product/inansongviet/in-hop-giay-dung-son-gia-re-1.jpg" alt="htpps://inansongviet.com" title="in hộp giấy">
                <div  style="color: black; text-align: center;">Mẫu hộp đựng son</div>
            </a>
        </div>                                          
    </div>
<br>
    <h3>Dùng giấy gì để in hộp giấy</h3>

    
    <p class="paragrapph" style="text-align: justify;"> 
        
        Tùy vào mục đích sử dụng mà hộp giấy được chia làm nhiều loại khác nhau 
        Các loại giấy thường sử dụng làm hộp giấy là Duplex, giấy Briston, giấy Ivory, giấy bìa cứng, giấy bìa sóng bồi ( 3 – 5 – 7 lớp ), giấy carton bồi,... 
        <br>
        Giấy bìa cứng: Hộp giấy cấu tạo bằng giấy bìa cứng không có nhiệm vụ lưu trữ, vận chuyển hàng hóa có khối lượng và trọng lượng nặng do đó chỉ có cấu tạo bởi một lớp giấy có định lượng cao.
        <br>
        Giấy carton: Có kết cấu với giấy carton 3 lớp, 5 lớp và 7 lớp kết hợp lớp giấy bồi bên ngoài để đảm bảo yêu cầu về in ấn. 
        <br>
        Hộp giấy carton có cấu tạo 3 lớp giấy gồm 2 lớp giấy phẳng bên ngoài và 1 lớp sóng ở giữa,
        được sản xuất chứa những hàng hóa tương đối nhỏ gọn về khối lượng và trọng lượng. 
        <br>
        Hộp giấy carton 5 lớp được cấu tạo từ 2 lớp giấy phẳng bên ngoài, 2 lớp sóng ở giữa và 1 lớp phẳng bên trong, 
        được sản xuất chứa đựng những hàng hóa có khối lượng và trọng lượng tương đối lớn. 
        <br>
        Hộp giấy carton 7 lớp có 4 lớp giấy phẳng và 3 lớp sóng định hình có khả năng vận chuyển hàng hóa đặc biệt nặng.
    </p>
    <img src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi.jpg" alt="htpps://inansongviet.com" title="in hộp giấy">
        <br><br>

    <p class="paragraph" style="text-align: justify;">
        Digital Box là một dạng bao bì , nhằm nâng cao giá trị của sản phẩm , nhằm kích thích nhu cầu tiêu dùng, tăng tính thẩm mỹ
        Song Việt cam kết 
        đáp ứng được yêu cầu về kỹ thuật in, không lem màu, tương đồng màu sắc so với file thiết kế, <br>
        có thể ép kim hoặc dập nổi, để thêm phầm đẹp mắt cho sản phẩm của mình.

    </p>
    <img src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-1.jpg" alt="htpps://inansongviet.com" title="in hộp giấy">

    <br><br>
    <p style="font-size: 14pt;">
        
        <strong> Hãy liên hệ với chúng tôi, để được tư vấn miễn phí và có cho mình bao bì mỹ phẩm ưng ý :</strong> <br>
    
        Công ty TNHH Thiết Kế & Quảng Cáo Song Việt <br>
    
        Địa chỉ: 30 đường số 6, phường Bình Hưng Hòa B, Bình Tân, TP.HCM <br>
    
        Điện thoại: 0908 77 65 69 <br>
    
        Email:  inansongviet@gmail.com
    
        </p>

    <img src="" alt="">

</div>


<h3 class="container" style="color: #ffffff; background-color: darkslategray;">Mẫu Hộp Mỹ Phẩm</h3>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-2.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div>  
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-3.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-4.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-5.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div>     
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-6.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div>  
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-7.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_my-pham-8.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-9.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div>  
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-10.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-11.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_my-pham-12.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-8.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div>
    </div>
</div>