<!-- image and line in header -->
<div style="display: block;margin: auto;">
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img style="width: 100%;" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<!-- intro page and slogan -->
<div class="col-lg-12 text-center" style="padding-top: 100px; padding-bottom: 50px;">
    <h1 style="color: #0000ff;">IN TÚI GIẤY, HỘP GIẤY</h1>
    <!--<h3>Chất lượng làm nên thương hiệu</h3>-->
    <hr class="line-yellow" style="border-color: #fed136; border-width: .2rem; max-width: 3.25rem;">
</div>

<br>

<!-- intro page -->

<!-- img for product in paper -->
<div class="container">
    <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6 d-block mb-4 h-100">
            <!-- <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/28.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-400x300-28.jpg" alt="https://salands.com" title="In Túi Giấy">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/29.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-400x300-29.jpg" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/31.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-400x300-31.jpg" alt="https://salands.com" title="In Túi Giấy">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/33.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-400x300-33.jpg" alt="https://salands.com" title="In Túi Giấy">
        </div>
        <div class="col-lg-3 col-md-4 col-6 d-block mb-4 h-100">
            <!-- <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/8.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-400x300-8.jpg" alt="https://salands.com" title="In Túi Giấy">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/6.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-400x300-6.jpg" alt="https://salands.com" title="In Túi Giấy">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/1.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-400x300-1.jpg" alt="https://salands.com" title="In Túi Giấy">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/14.jpg" alt="">               
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-400x300-14.jpg" alt="https://salands.com" title="In Túi Giấy">    
        </div>
        <div class="col-lg-3 col-md-4 col-6 d-block mb-4 h-100">
            <!-- <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/23.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-400x300-23.jpg" alt="https://salands.com" title="In Tui Giấy">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/24.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-400x300-24.jpg" alt="https://salands.com" title="In Túi Giấy">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/25.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-400x300-25.jpg" alt="https://salands.com" title="In Túi Giấy">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/26.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-400x300-26.jpg" alt="https://salands.com" title="In Túi Giấy">
        </div>
    </div>
</div>

<br>
<!-- /.container -->
<!--bang bao gia-->
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ IN TÚI GIẤY</h3>
<br>

<table class="container">
    <tbody class="bangbaogia" style="font-size: 16pt;">
        <tr>
            <th rowspan="2">Số Lượng</th>         
            <th colspan="4">Loại Túi Ngang In 1 Mặt, Cán Màng, Giấy Bristol 250gsm, Couche 250gsm <p>hoặc Ivory 250gsm</p></th>
        </tr>
        <tr>
            <td>KT 20x14x6 cm</td>
            <td>KT 25x20x8 cm</td>
            <td>KT 30x20x10 cm</td> 
            <td>KT 35x25x10 cm</td>                                                                      
        </tr>
        <tr>
            <td>300</td>
            <td>12.000</td>
            <td>13.500</td> 
            <td>14.500</td>      
            <td>17.000</td>                                                                
        </tr>
        <tr>
            <td>500</td>
            <td>9.500</td>
            <td>10.500</td> 
            <td>12.000</td> 
            <td>14.500</td>                                                                                                                                       
        </tr>
        <tr>
            <td>1000</td>
            <td>7.500</td>
            <td>8.500</td> 
            <td>9.500</td>     
            <td>11.000</td>                                                                                                                                       
        </tr>   
        <tr>
            <td>2000</td>
            <td>6.500</td>
            <td>7.500</td> 
            <td>7.800</td>     
            <td>9.500</td>                                                                                                                                       
        </tr>  
    </tbody>                      
</table>
<br>

<div class="container" style="font-size: 13pt; color: #ff0000;">
    <ul style="padding: 20px; font-size: 14pt;">Ghi Chú :            
        <li>Bảng giá trên chưa bao gồm phí thiết kế file In.</li>      
        <li>Túi giấy có thể làm theo kích thước quý khách yêu cầu.</li>        
        <li style="font-size: 14pt; color: #ff0000;"><strong>Bảng giá trên chưa bao gồm VAT 10% </strong></li>
    </ul>
</div>

<div class="container" style="font-size: 13pt;">
    
    <div>
        <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif"> Quý khách đã có File in  => Gửi ngay cho chúng tôi qua mail <strong style="color: #4400ff;">inansongiviet@gmail.com</strong> để nhận được báo giá nhanh chóng.
    </div>
    <div>
        <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif"> Quý khách chưa có File in  => Không sao! chúng tôi sẽ thiết kế file in và quý khách sẽ nhận ngay báo giá khi chúng tôi biết số lượng Quý khách cần in.
    </div>
</div>

<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY CÁCH IN</h3>

<br>
<table class="container" style="font-size: 16pt;">
    <tbody class="quycach">
        <tr>
            <td>Công nghệ in</td>
            <td>In Túi Giấy bằng máy in Offset công nghiệp chuẩn hệ 4 màu CMYK</td>
        </tr>
        <tr>
            <td>Hình dáng</td>
            <td>Bế, dán thành phẩm theo yêu cầu.</td>
        </tr>
        <tr>
            <td>Chất liệu</td>
            <td>Giấy Couches, Ivory, Duplex, Kraft, Giấy mỹ thuật,….</td>
        </tr>
        <tr>
            <td>Kích thước</td>
            <td>Theo yêu cầu</td>
        </tr>
        <tr>
            <td>Thời gian</td>
            <td>3 ngày</td>
        </tr>        
        <tr>            
            <td colspan="2">In 1 mặt, Ép kim ( nếu có).</td>
        </tr>
        <tr>            
            <td colspan="2">Cán màng mặt ngoài (màng mờ hoặc màng bóng theo yêu cầu).</td>
        </tr>
        <tr>            
            <td colspan="2">Đóng mắt ngỗng, xỏ dây quai.</td>
        </tr>
    </tbody>
</table>

<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY TRÌNH ĐẶT IN </h3>

<br>

<table class="container" style="font-size: 16pt;">
    <tbody class="quytrinh">
        <tr>
            <td>1</td>
            <td class="quytrinh">Nhận File in trực tiếp hoặc qua Email : inansongviet@gmail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td class="quytrinh">Xem File báo giá in túi giấy qua mail hoặc gọi trực tiếp.</td>
        </tr>
        <tr>
            <td>3</td>
            <td class="quytrinh">Chuyển khoản cọc 50% đơn hàng.</td>
        </tr>
        <tr>
            <td>4</td>
            <td class="quytrinh">Tiến hành in</td>
        </tr>
        <tr>
            <td>5</td>
            <td class="quytrinh">Giao hàng tận nơi thanh toán 50% số tiền còn lại.</td>
        </tr>
        <tr>
            <td>6</td>
            <td class="quytrinh">Khách hàng ở các tỉnh, thành khác => chuyển khoản 100% tiền in công ty chúng tôi sẽ gửi chành xe, chuyển phát nhanh, nhà ga,… về tận nơi.</td>
        </tr>        
    </tbody>
</table>


<br>
<br>
<h3 class="container" style="color: #ffffff; background-color: darkslategray;">Tin Tức Cập Nhật</h3>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-ep-kim">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-626x626-58.jpg" title="in-tui-giay" target="_selt">
                <div  style="color: black; text-align: center;">Túi giấy Ép Kim</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-uv">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-626x626-52.jpg" title="in-tui-giay" target="_selt">
                <div  style="color: black; text-align: center;">Túi giấy trơn</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-be-noi">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-626x626-53.jpg" title="in-tui-giay" target="_selt">
                <div  style="color: black; text-align: center;">Túi giấy bằng giấy Kraft</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-gap-3">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-626x626-51.jpg" title="in-tui-giay" target="_selt">
                <div  style="color: black; text-align: center;">Túi giấy shop Thời Trang</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-nha-hang">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-626x626-55.jpg" title="in-tui-giay" target="_selt">
                <div  style="color: black; text-align: center;">Túi giấy bằng giấy Duplex</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-quan-an">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-626x626-61.jpg" title="in-tui-giay" target="_selt">
                <div  style="color: black; text-align: center;">Túi giấy bằng giấy Couche</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-theo-kich-thuoc">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-626x626-56.jpg" title="in-tui-giay" target="_selt">
                <div  style="color: black; text-align: center;">Túi giấy Xỏ Quai</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-gap-4">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/in-tui-giay-626x626-62.jpg" title="in-tui-giay" target="_selt">
                <div  style="color: black; text-align: center;">Túi đựng Thực Phẩm</div>
            </a>
        </div>             
    </div>
</div>