<!-- product -->
<div style="display: block;margin: auto;">
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img style="width: 100%;" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<!-- image product handle by Chu Huynh-->
<!-- 
<div class="product" style="padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto; width: 1140px; padding-top: 50px;">
    
    <div class="row" style="padding: 15px; ">
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product1 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct1>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product2 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct2>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product3 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct3>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product4 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct4>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product5 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct5>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>        
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product6 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct6>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product6 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct6>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product6 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct6>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>   
    </div>
    <div class="row">
        <button routerLink="product" type="button" class="btn btn-primary" style="margin-left:auto; margin-right: auto;">Xem Thêm</button>
    </div>
</div>

<div class="container">
    <hr class="mt-2 mb-5">
</div>
-->

<!--  -->

<div class="col-lg-12 text-center" style="padding-top: 100px; padding-bottom: 50px;">
    <h1>Sản Phẩm</h1>
    <!-- <h3>Khơi Nguồn Cho Khát Vọng Sáng Tạo</h3> -->
    <hr class="line-yellow" style="border-color: #fed136; border-width: .2rem; max-width: 3.25rem;">
</div>
<!-- product -->
<div class="container">
    <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/product']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/4.jpg" alt="https://salands.com" title="Name Card"> <!--https://source.unsplash.com/pWkk7iiCoDM/400x300-->                
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/product']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/1.jpg" alt="https://salands.com" title="Túi Giấy"><!--https://source.unsplash.com/aob0ukAYfuI/400x300-->
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/product']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/11.jpg" alt="https://salands.com" title="Catalogue"> <!--https://source.unsplash.com/EUfxH-pze7s/400x300-->
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
        <a [routerLink]="['/product']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/tuigiay/2.jpg" alt="https://salands" title="Túi Giấy"><!--https://source.unsplash.com/M185_qYH8vg/400x300-->
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/product']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/1.jpg" alt="https://salands.com" title="Tờ Rơi"><!--https://source.unsplash.com/sesveuG_rNo/400x300-->
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/product']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/6.jpg" alt="https://salands.com" title="Tờ Rơi"> <!--https://source.unsplash.com/AvhMzHwiE_0/400x300-->
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/product']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/10.jpg" alt="https://salands.com" title="name card"> <!--https://source.unsplash.com/2gYsZUmockw/400x300-->
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/product']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/5.jpg" alt="https://salands" title="Tờ Rơi"> <!--https://source.unsplash.com/EMSDtjVHdQ8/400x300-->
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
        <a [routerLink]="['/product']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/7.jpg" alt="https://salands.com" title="name card"> <!--https://source.unsplash.com/8mUEy0ABdNE/400x300-->
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/product']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/1.jpg" alt="https://salands.com" title="Thẻ Treo"> <!--https://source.unsplash.com/G9Rfc1qccH4/400x300-->
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
        <a [routerLink]="['/product']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/lichdeban/2.jpg" alt="https://salands.com" title="Lịch Để Bàn"> <!--https://source.unsplash.com/aJeH0KcFkuc/400x300-->
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/product']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/lichdeban/4.jpg" alt="https://salands.com" title="Lịch Để Bàn"> <!--https://source.unsplash.com/p2TQ-3Bh3Oo/400x300-->
            </a>
        </div>  

        <!--bonus by Chu-->
        <div class="col-lg-3 col-md-4 col-6">
            <a href="product" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/1.jpg" alt="https://salands.com" title="Bao Thư"> <!--https://source.unsplash.com/8mUEy0ABdNE/400x300-->
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="product" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/lichdeban/7.jpg" alt="https://salands.com" title="Lịch Để Bàn"> <!--https://source.unsplash.com/G9Rfc1qccH4/400x300-->
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
        <a href="product" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/2.jpg" alt="https://salands.com" title="Bao Thư"> <!--https://source.unsplash.com/aJeH0KcFkuc/400x300-->
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="product" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/10.jpg" alt="https://salands.com" title="Tờ Rơi"> <!--https://source.unsplash.com/p2TQ-3Bh3Oo/400x300-->
            </a>
        </div>
    </div>
</div>

<br>
<!-- /.container -->
<!-- line -->
<div class="container"><hr class="mt-2 mb-5"></div>

<!-- time line -->
<div class="container">
    <div class="row">
        <div class="col-lg-12" (contextmenu)="onRightClick()">
            <ul class="timeline" style="list-style-type: none;">
                <li>
                    <div  style="display: inline-block; width: 50%; position: relative;" class="timeline-img">
                        <a routerLink="indanhthiep" target="_self" title="In Danh Thiếp">
                            <img class="rounded-circle img-fluid" style="position: relative; float: right; border: solid 5px lemonchiffon; width:30%" src="../../assets/imgs/timeline/3.jpg" alt="In Danh Thiếp" title="In Danh Thiếp">
                        </a>
                    </div>
                    <div  style="width: 50%; position: relative; float: right" class="timeline-panel">  
                        <h2> 
                            <a routerLink="indanhthiep" title="In Danh Thiếp">In Name Card </a>
                        </h2>                        
                        <h5>Ấn Phẩm Quan Trọng</h5>
                        <p></p>
                        <a routerLink="indanhthiep" target="_self" title="In Danh Thiếp"> xem thêm</a>                         
                    </div>
                </li>
                <li style="padding-top: 100px">
                    <div  style="display: inline-block; width: 50%; position: relative;" class="timeline-img">
                        <a routerLink="intoroi" target="_self" title="In Tờ Rơi">
                            <img class="rounded-circle img-fluid" style="position: relative; float: left; border: solid 5px lemonchiffon; width:30%" src="../../assets/imgs/home/product/toroi/11.jpg" >
                        </a>
                    </div>
                    <div  style="text-align: right; width: 35%; position: relative; float: left;" class="timeline-panel">
                        <h2>
                            <a routerLink="intoroi" target="_self" title="In Tờ Rơi">In Tờ Rơi</a>
                        </h2>
                        <h5>Chiến Dịch Đỉnh Cao</h5>
                        <p></p>
                        <a routerLink="intoroi" target="_self" title="In Tờ Rơi">xem thêm</a> 
                    </div>
                </li>
                <li style="padding-top: 100px;">
                    <div  style="display: inline-block; width: 50%; position: relative;" class="timeline-img">
                        <a routerLink="incatalogue" target="_self" title="In Tờ Rơi">
                            <img class="rounded-circle img-fluid" style="position: relative; float: right; border: solid 5px lemonchiffon; width:30%" src="../../assets/imgs/timeline/4.jpg" >
                        </a>
                    </div>
                    <div  style="width: 50%; position: relative; float: right" class="timeline-panel">
                        <h2>
                            <a routerLink="incatalogue" target="_self">In Catalogue</a>
                        </h2>     
                        <h5>Phong Cách Thời Thượng</h5>
                        <p></p>
                        <a routerLink="incatalogue" target="_self"> xem thêm</a>                    
                    </div>
                </li>
                <li style="padding-top: 100px">
                    <div  style="display: inline-block; width: 50%; position: relative;" class="timeline-img">
                        <a routerLink="intuigiay" target="_self" title="In Túi Giấy">
                            <img class="rounded-circle img-fluid" style="position: relative; float: left; border: solid 5px lemonchiffon; width:30%" src="../../assets/imgs/timeline/5.jpg" >
                        </a>
                    </div>
                    <div  style="text-align: right; width: 35%; position: relative; float: left;" class="timeline-panel">
                        <h2>
                            <a routerLink="intuigiay" target="_self" title="In Túi Giấy">In Túi Giấy</a>                            
                        </h2>                                     
                        <h5>Đón Đầu Phong Cách</h5>
                        <p></p>
                        <a routerLink="intuigiay" target="_self" title="In Túi Giấy">xem thêm</a>           
                    </div>
                </li>
                <li style="padding-top: 100px;">
                    <div  style="display: inline-block; width: 50%; position: relative;" class="timeline-img">
                        <a routerLink="inbaothu" target="_self" title="In Bao Thư">
                            <img class="rounded-circle img-fluid" style="position: relative; float: right; border: solid 5px lemonchiffon; width:30%" src="../../assets/imgs/timeline/6.jpg" >
                        </a>
                    </div>
                    <div  style="width: 50%; position: relative; float: right" class="timeline-panel">
                        <h2>
                            <a routerLink="inbaothu" target="_self" title="In Bao Thư"> In Bao Thư</a>                            
                        </h2>
                        <h5>Trao Gửi Niềm Tin</h5>
                        <p></p>
                        <a routerLink="inbaothu" target="_self" title="In Bao Thư"> xem thêm</a>                        
                    </div>
                </li>
                <li style="padding-top: 100px">
                    <div  style="display: inline-block; width: 50%; position: relative;" class="timeline-img">
                        <a routerLink="inthetreo" target="_self" title="In Thẻ Treo">
                            <img class="rounded-circle img-fluid" style="position: relative; float: left; border: solid 5px lemonchiffon; width:30%" src="../../assets/imgs/timeline/7.jpg" >
                        </a>
                    </div>
                    <div  style="text-align: right; width: 35%; position: relative; float: left;" class="timeline-panel">
                        <h2>
                            <a routerLink="inthetreo" target="_self" title="In Thẻ Treo">In Thẻ Treo</a>                                
                        </h2>
                        <h5>Chất Lượng Hàng Đầu</h5>
                        <p></p>
                        <a routerLink="inthetreo" target="_self" title="In Thẻ Treo">xem thêm</a>                         
                    </div>
                </li>
                <li style="padding-top: 100px;">
                    <div  style="display: inline-block; width: 50%; position: relative;" class="timeline-img">
                        <a routerLink="inbaolixi" target="_self" title="In Bao Lì Xì">
                            <img class="rounded-circle img-fluid" style="position: relative; float: right; border: solid 5px lemonchiffon; width:30%" src="../../assets/imgs/timeline/8.jpg" >
                        </a>
                    </div>
                    <div  style="width: 50%; position: relative; float: right" class="timeline-panel">
                        <h2>
                            <a routerLink="inbaolixi" target="_self" title="In Bao Lì Xì">In Bao Lì Xì</a>                            
                        </h2>     
                        <h5>Gửi Lộc Liền Tay</h5>
                        <p></p>
                        <a routerLink="inbaolixi" target="_self" title="In Bao Lì Xì">xem thêm</a>                   
                    </div>
                </li>
                <li style="padding-top: 100px">
                    <div  style="display: inline-block; width: 50%; position: relative;" class="timeline-img">
                        <a routerLink="" target="_self" title="In Ấn Salads">
                            <img class="rounded-circle img-fluid" style="position: relative; float: left; border: solid 5px lemonchiffon; width:30%" src="../../assets/imgs/timeline/2.jpg" >
                        </a>
                    </div>
                    <div  style="text-align: right; width: 35%; position: relative; float: left;" class="timeline-panel">
                        <h2>
                            <a routerLink="" target="_self" title="In Ấn Salands">Sản Phẩm Khác</a>                                
                        </h2>                        
                    </div>
                </li>
            </ul>
        </div>
</div>
    <div class="row"></div>
</div>

