
<!-- product -->
<div>
    <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div>
</div>
<div class="product" style="padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto; width: 1140px; padding-top: 50px;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Sản phẩm của Sóng Việt</h2>
            <h3>Solgan dai thiet la dai de lam hai long khach hang</h3>
        </div>
    </div>
    <div class="row" style="padding: 15px; ">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class=product1 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct1>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class=product2 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct2>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class=product3 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct3>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class=product4 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct4>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class=product5 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct5>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>        
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class=product6 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct6>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
    </div>
    <div class="row">
        <button routerLink="product" type="button" class="btn btn-primary" style="margin-left:auto; margin-right: auto;">Xem Thêm</button>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="timeline" style="list-style-type: none;">
                <li>
                    <div  style="display: inline-block; width: 50%; position: relative;" class="timeline-img">
                        <img class="rounded-circle img-fluid" style="position: relative; float: right; border: solid 5px lemonchiffon; width:30%" src="../../assets/imgs/timeline2.jpg" >
                    </div>
                    <div  style="display: inline-block; width: 50%; position: relative; float: right" class="timeline-panel">
                        <h2>Title</h2>
                        <h5>Description loum hina</h5>
                        <p>this is paragraph</p>
                    </div>
                </li>
                <li style="padding-top: 100px">
                    <div  style="display: inline-block; width: 50%; position: relative;" class="timeline-img">
                        <img class="rounded-circle img-fluid" style="position: relative; float: left; border: solid 5px lemonchiffon; width:30%" src="../../assets/imgs/timeline2.jpg" >
                    </div>
                    <div  style="text-align: right; display: inline-block; width: 35%; position: relative; float: left;" class="timeline-panel">
                        <h2>Title</h2>
                        <h5>Description loum hina</h5>
                        <p></p>
                    </div>
                </li>
                <li style="padding-top: 100px;">
                    <div  style="display: inline-block; width: 50%; position: relative;" class="timeline-img">
                        <img class="rounded-circle img-fluid" style="position: relative; float: right; border: solid 5px lemonchiffon; width:30%" src="../../assets/imgs/timeline2.jpg" >
                    </div>
                    <div  style="display: inline-block; width: 50%; position: relative; float: right" class="timeline-panel">
                        <h2>Title</h2>
                        <h5>Description loum hina</h5>
                        <p></p>
                    </div>
                </li>
                <li style="padding-top: 100px">
                    <div  style="display: inline-block; width: 50%; position: relative;" class="timeline-img">
                        <img class="rounded-circle img-fluid" style="position: relative; float: left; border: solid 5px lemonchiffon; width:30%" src="../../assets/imgs/timeline2.jpg" >
                    </div>
                    <div  style="text-align: right; display: inline-block; width: 35%; position: relative; float: left;" class="timeline-panel">
                        <h2>Title</h2>
                        <h5>Description loum hina</h5>
                        <p></p>
                    </div>
                </li>
                <li style="padding-top: 100px;">
                    <div  style="display: inline-block; width: 50%; position: relative;" class="timeline-img">
                        <img class="rounded-circle img-fluid" style="position: relative; float: right; border: solid 5px lemonchiffon; width:30%" src="../../assets/imgs/timeline2.jpg" >
                    </div>
                    <div  style="display: inline-block; width: 50%; position: relative; float: right" class="timeline-panel">
                        <h2>Title</h2>
                        <h5>Description loum hina</h5>
                        <p>this is paragraph</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="row"></div>
</div>