.carousel-control-next{
    z-index: 0;
}

.footer-home-contact {
	font-family: 'arial', Helvetica, sans-serif;
    font-weight: bold;
    padding: 30px; 
}
.fa-phone{
	margin-right: 10px;
	transform: rotate(90deg);		
}

.noteproduct1, .noteproduct2, .noteproduct3, .noteproduct4, .noteproduct5, .noteproduct6{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

/* scope product if you hover in img
.product-hover :hover{
    opacity: 50%;
    background-color: bisque;
    color: blue;
    position: absolute;
    transition: all ease .5s;
    width: 90%;
    height: 90%;
}
*/


@media only screen and (max-width: 500px) {
    
    .footer-home-contact{
        margin-right: 0px;
        font-size: 8;
        font-weight: 100;
    }

    .footer-home-contact .slogan{
        text-align: center;
        margin-right: 30px;
    }

    .fa-phone{
        margin-right: 10px;        	
    }
}


.timeline::before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 45%;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef;
    height: 2000px;
}

.timeline::after {
    content: '';
}
.updateNews{       
    color: black;
}