<div style="display: block;margin: auto;">
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div>-->
    <img style="width: 100%" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<h3 style="text-align: center; margin-top: 100px;">VỀ CHÚNG TÔI</h3>

<hr style="max-width: 3.25rem; border-width: .2rem; border-color: #fed136">

<div class="row" style="padding: 15px;">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mgb25" style="padding: 25px;">
        <img src="../../assets/imgs/app/1.png" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mgb25" style="padding: 20px; font-size: 14pt;">           
        Với phương châm sinh ra là để phục vụ cho khách hàng một cách tốt nhất,
        nhờ đó mà<strong> Sóng Việt</strong> nhận được sự tin cậy của nhiều khách hàng.
        Sóng Việt là công ty chuyên về <strong>in ấn</strong>, thiết kế và sản xuất vật phẩm quảng cáo
        Thế mạnh của chúng tôi là đã và đang phục vụ nhiều khách hàng lớn trên nhiều lĩnh vực
        với các dòng sản phẩm đa dạng như:     
        <ul>
            <li>In offset các loại sản phẩm trên giấy: <a href="innamecard">Name card</a>, <a href="intoroi">Tờ Rơi</a>, Brochurse, Túi Giấy, <a href="intthetreo">Tag Treo</a>, Bao Lì Xì, Lịch Để Bàn,...</li>        
            <li>In decal nhựa, decal nhôm: các loại tem nhãn.</li>
            <li>In giấy ghép màng metalized: bao bì, túi xách, lịch tết…</li>
            <li>Nhận in gia công offset UV.</li>
            <li>Nhận gia công bế, cán màng.</li>
        </ul>
        Quy trình sản xuất khép kín, công nghệ mới và nguồn nguyên liệu độc quyền
        giúp Sóng Việt luôn đáp ứng được mọi nhu cầu của quý khách với giá cả hợp lý,
        thời gian nhanh chóng, chất lượng đảm bảo và dịch vụ tốt.
        Sản phẩm của Sóng Việt luôn làm hài lòng những khách hàng khó tính nhất.                    
    </div>
</div>