<!-- image and line in header -->
<div style="display: block;margin: auto;"> 
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img style="width: 100%;" src="../../assets/imgs/home/header/11.jpg" alt="https://inansongviet.com">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<!-- intro page and slogan -->
<div class="col-lg-12 text-center" style="padding-top: 100px; padding-bottom: 50px;">
    <h1 style="color: #0000ff;">IN THẺ TREO</h1>
    <!--<h3>Chất lượng làm nên thương hiệu</h3>-->
    <hr class="line-yellow" style="border-color: #fed136; border-width: .2rem; max-width: 3.25rem;">
</div>

<br>

<!-- intro page -->

<!-- img for product in paper -->
<div class="container">
    <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/the-treo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/1.jpg" alt="https://inansongviet.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/the-treo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/2.jpg" alt="https://inansongviet.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/the-treo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/3.jpg" alt="https://inansongviet.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/the-treo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/4.jpg" alt="https://inansongviet.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/the-treo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/5.jpg" alt="https://inansongviet.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/the-treo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/6.jpg" alt="https://inansongviet.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/the-treo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/7.jpg" alt="https://inansongviet.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/the-treo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/8.jpg" alt="https://inansongviet.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/the-treo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/9.jpg" alt="https://inansongviet.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/the-treo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/10.jpg" alt="https://inansongviet.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/the-treo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/11.jpg" alt="https://inansongviet.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/the-treo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/12.jpg" alt="https://inansongviet.com" title="In Thẻ Treo">
            </a>
        </div>
    </div>
</div>
<!-- /.container -->
<br>
<br>
<!--bang bao gia-->
<!-- giấu bảng giá -->
<!-- 
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ IN THẺ TREO</h3>
<br>

<table class="container bangbaogia">
    <tr style="background-color: #7fbd00; color: honeydew;">
        <th >Kích Thước</th>      
        <th >Số Lượng</th>                            
        <th >Đơn Giá</th>
        <th >Thành Tiền</th>
    </tr> 
    <tr>
        <td rowspan="3">5.5 x 9 cm</td>
        <td>500</td>
        <td>400</td>      
        <td>200.000</td>                                                                                                                                          
    </tr>      
    <tr>
        <td>1.000</td>            
        <td>250</td>      
        <td>250.000</td>                                                                                                                                                
    </tr>   
    <tr>
        <td>2.000</td>            
        <td>200</td>      
        <td>400.000</td>                                                                                                                                                   
    </tr>
    <tr>
        <td rowspan="3"><p>4.5 x 4.5 cm</p><p>(1/2 Vị trí name card)</p></td>
        <td>1.000</td>            
        <td>200</td>      
        <td>200.000</td>                                                                                                                                          
    </tr>      
    <tr>
        <td>2.000</td>            
        <td>180</td>      
        <td>360.000</td>                                                                                                                                                
    </tr>   
    <tr>
        <td>4.000</td>           
        <td>150</td>      
        <td>600.000</td>                                                                                                                                                   
    </tr>                        
</table>

<br>
<br>

<div class="container" style="font-size: 13pt; color: #ff0000;">
    <ul style="padding: 20px; font-size: 14pt;"><u>Ghi Chú :</u>  
        <li>in offset 2 mặt, cán màng mờ, đục lỗ tròn</li>
        <li>Tags bế theo hình yêu cầu + 300k<3000</li>
        <li>Phí thiết kế 50.000đ/mẫu</li>                  
        <li>Tư vẫn miễn phí tại : <a href="m.me/inansongviet">m.me/inansongviet</a></li>
        <li style="font-size: 14pt; color: #ff0000;"><strong>Bảng giá trên chưa bao gồm VAT 10% </strong></li>
    </ul>
</div>
-->
<div class="container" style="font-size: 13pt;">
    
    <div>
        <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif" alt="https://inansongviet.com"> Quý khách đã có File in  => Gửi ngay cho chúng tôi qua mail <strong style="color: #0000ff;">inansongviet@gmail.com</strong> để nhận được báo giá nhanh chóng.
    </div>
    <div>
        <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif" alt="https://inansongviet.com"> Quý khách chưa có File in  => Không sao! chúng tôi sẽ thiết kế file in và quý khách sẽ nhận ngay báo giá khi chúng tôi biết số lượng Quý khách cần in.
    </div>
</div>

<br>


<h3 class="container alert alert-primary" style="color: #0000ff;">QUY CÁCH IN TAG TREO</h3>

<br>
<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody>
        <tr>
            <td>Công nghệ in</td>
            <td>In Tag treo bằng máy <strong>In Offset</strong> 2 mặt, màu sắc không giới hạn</td>
        </tr>
        <tr>
            <td>Chất liệu giấy</td>
            <td>Giấy <strong>Coucher</strong> 300gsm, Giấy <strong>Kraft</strong>, Giấy <strong>Mỹ Thuật</strong> dành cho những thương hiệu nổi tiếng.v.v...</td>
        </tr>
        <tr>
            <td>Kích thước</td>
            <td>Theo yêu cầu, hoặc chat để được tư vấn kích thước</td>
        </tr>
        <tr>
            <td>Hình dáng</td>
            <td>Cắt, đục lổ, Bế thành phẩm theo hình dáng yêu cầu</td>
        </tr>
        <tr>
            <td>Cán màng</td>
            <td>Cán màng mờ, màng bóng hoặc không cán màng</td>
        </tr>
        <tr>
            <td>Số lượng</td>
            <td>Tối thiểu <strong>500 tờ</strong>, tối đa là không giới hạn</td>
        </tr>
        <tr>
            <td>Thời gian</td>
            <td>1 ngày kể từ lúc gửi file và đặt cọc</td>
        </tr>                      
        <tr>            
            <td colspan="2">Đội ngũ kỹ thuật nhiều năm kinh nghiệm.</td>
        </tr>
        <tr>            
            <td colspan="2">Giấy in tag treo được nhập đúng tiêu chuẩn, chất lượng và định lượng.</td>
        </tr>
        <tr>            
            <td colspan="2">Số lượng thẻ treo thành phẩm từ đủ tới dư do bồi thêm giấy trừ hao hụt trong quá trình thi công.</td>
        </tr>
        <tr>            
            <td colspan="2">Giá thành in thẻ treo rẻ do in trực tiếp tại xưởng không qua trung gian.</td>
        </tr>       
    </tbody>
</table>

<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY TRÌNH ĐẶT IN </h3>

<br>

<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody>
        <tr>
            <td>1</td>
            <td>Nhận File in trực tiếp hoặc qua Email : inansongviet@gmail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Xem File báo giá in <strong>Tag Treo</strong> qua mail hoặc gọi trực tiếp.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Chuyển khoản cọc 50% đơn hàng.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Tiến hành in</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Giao hàng tận nơi thanh toán 50% số tiền còn lại.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Khách hàng ở các tỉnh, thành khác => chuyển khoản 100% tiền in công ty chúng tôi sẽ gửi chành xe, chuyển phát nhanh, nhà ga,… về tận nơi.</td>
        </tr>        
    </tbody>
</table>

<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">Hình Dáng Tag Treo</h3>
<div >
    <table class=" container hinhdangtagtreo">         
        <tr style="display: inline;margin: auto;">
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/21.jpg" alt="https://inansongviet.com/bao-thu"></td>
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/22.jpg" alt="https://inansongviet.com/bao-thu"></td>            
        </tr> 
        <tr style="display: inline;margin: auto;">
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/23.jpg" alt="https://inansongviet.com/bao-thu"></td>
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/24.jpg" alt="https://inansongviet.com/bao-thu"></td>            
        </tr>  
        <tr style="display: inline;margin: auto;">
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/25.jpg" alt="https://inansongviet.com/bao-thu"></td>
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/26.jpg" alt="https://inansongviet.com/bao-thu"></td>            
        </tr>
        
        <tr style="display: inline;margin: auto;">
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/27.jpg" alt="https://inansongviet.com/bao-thu"></td>
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/28.jpg" alt="https://inansongviet.com/bao-thu"></td>            
        </tr> 
        
        <tr style="display: inline;margin: auto;">
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/29.jpg" alt="https://inansongviet.com/bao-thu"></td>
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/30.jpg" alt="https://inansongviet.com/bao-thu"></td>            
        </tr> 
        <tr style="display: inline;margin: auto;">
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/31.jpg" alt="https://inansongviet.com/bao-thu"></td>
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/32.jpg" alt="https://inansongviet.com/bao-thu"></td>            
        </tr> 
        <tr style="display: inline;margin: auto;">
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/33.jpg" alt="https://inansongviet.com/bao-thu"></td>
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/34.jpg" alt="https://inansongviet.com/bao-thu"></td>            
        </tr> 
    </table>
</div>
<br>

<br>
<br>

<h3 class="container" style="color: #ffffff; background-color: darkslategray;">Tin Tức Cập Nhật</h3>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="in-danh-thiep-gia-re-o-dau">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/35.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tag Treo Ép Kim Cao Cấp</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-ep-kim">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/36.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tag Treo Nhũ Bạc</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-be-noi">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/37.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tag Treo Nhũ Vàng</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-giay-kraft">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/38.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tag Treo Giấy Kraft</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-shop-hoa">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/39.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tag Treo Dập Nổi</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-giay-my-thuat">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/40.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tag Treo Quần Áo, Giày Dép, Balô</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-bo-goc">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/41.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tag Treo Có Hình Dáng Đặc Biệt</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-theo-kich-thuoc-khach-hang">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/42.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tag Treo hình Tròn</div>
            </a>
        </div>        
    </div>
</div>