<!-- image and line in header -->
<div style="display: block;margin: auto;"> 
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img style="width: 100%;" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<!-- intro page and slogan -->
<div class="col-lg-12 text-center" style="padding-top: 100px; padding-bottom: 50px;">
    <h1 style="color: #0000ff;">IN THẺ TREO</h1>
    <!--<h3>Chất lượng làm nên thương hiệu</h3>-->
    <hr class="line-yellow" style="border-color: #fed136; border-width: .2rem; max-width: 3.25rem;">
</div>

<br>

<!-- intro page -->

<!-- img for product in paper -->
<div class="container">
    <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/inthetreo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/1.jpg" alt="https://salands.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/inthetreo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/2.jpg" alt="https://salands.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/inthetreo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/3.jpg" alt="https://salands.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/inthetreo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/4.jpg" alt="https://salands.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/inthetreo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/13.jpg" alt="https://salands.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/inthetreo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/5.jpg" alt="https://salands.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/inthetreo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/8.jpg" alt="https://salands.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/inthetreo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/11.jpg" alt="https://salands.com" title="In Thẻ Treo">               
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/inthetreo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/12.jpg" alt="https://salands.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/inthetreo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/14.jpg" alt="https://salands.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/inthetreo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/15.jpg" alt="https://salands.com" title="In Thẻ Treo">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/inthetreo']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/16.jpg" alt="https://salands.com" title="In Thẻ Treo">
            </a>
        </div>
    </div>
</div>
<!-- /.container -->
<br>
<!--bang bao gia-->
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ IN THẺ TREO</h3>
<br>

<table class="container bangbaogia">
    <tr>
        <th >Kích Thước</th>      
        <th >Số Lượng</th>                            
        <th >Đơn Giá</th>
        <th >Thành Tiền</th>
    </tr> 
    <tr>
        <td rowspan="3">9.0 x 5.4 cm</td>
        <td>500</td>            
        <td>300</td>      
        <td>150.000</td>                                                                                                                                          
    </tr>      
    <tr>
        <td>1.000</td>            
        <td>200</td>      
        <td>200.000</td>                                                                                                                                                
    </tr>   
    <tr>
        <td>2.000</td>            
        <td>180</td>      
        <td>360.000</td>                                                                                                                                                   
    </tr>
    <tr>
        <td rowspan="3"><p>4.5 x 4.5 cm</p><p>(1/2 Vị trí name card)</p></td>
        <td>1.000</td>            
        <td>160</td>      
        <td>160.000</td>                                                                                                                                          
    </tr>      
    <tr>
        <td>2.000</td>            
        <td>130</td>      
        <td>260.000</td>                                                                                                                                                
    </tr>   
    <tr>
        <td>4.000</td>           
        <td>100</td>      
        <td>400.000</td>                                                                                                                                                   
    </tr>   
    <tr>
        <td rowspan="3"><p>9.0 x 2.7 cm</p><p>(1/2 Vị trí name card)</p></td>
        <td>1.000</td>            
        <td>160</td>      
        <td>160.000</td>                                                                                                                                          
    </tr>      
    <tr>
        <td>2.000</td>            
        <td>130</td>      
        <td>260.000</td>                                                                                                                                                
    </tr>   
    <tr>
        <td>4.000</td>           
        <td>100</td>      
        <td>400.000</td>                                                                                                                                                   
    </tr>       
    <tr>
        <td rowspan="3"><p>5.00 x 3.00 cm</p><p>(1/3 Vị trí name card)</p></td>
        <td>1.000</td>            
        <td>150</td>      
        <td>150.000</td>                                                                                                                                          
    </tr>      
    <tr>
        <td>3.000</td>            
        <td>120</td>      
        <td>360.000</td>                                                                                                                                                
    </tr>   
    <tr>
        <td>6.000</td>             
        <td>90</td>      
        <td>540.000</td>                                                                                                                                                   
    </tr>                  
</table>

<br>


<div class="container" style="font-size: 13pt; color: #ff0000;">
    <ul style="padding: 20px; font-size: 14pt;">Ghi Chú :            
        <li>Phí thiết kế thẻ treo là 50.000đ/mẫu - KH chỉnh sửa tối đa 05 lần </li>        
        <li>Phí vận chuyển: 50.000đ / lượt – Khu vực nội thành</li>
        <li>Thẻ treo không cán màng vui lòng đặt số lượng ít nhất 3 mẫu</li>
        <li>Thẻ treo bo góc : thêm phí 50.000đ / mẫu</li>
        <li>Các loại gia công khác như: Ép kim, bế nổi, UV định hình vui lòng liên hệ: <strong style="color: #0000ff;">0908.776.569</strong> để đc tư vấn trực tiếp tư vấn để có giá tốt nhất.</li>
        <li>Tag treo có đóng <strong>mắt ngỗng</strong> vui lòng liên hệ để được báo giá tốt nhất</li>
        <li style="font-size: 14pt; color: #ff0000;"><strong>Bảng giá trên chưa bao gồm VAT 10% </strong></li>
    </ul>
</div>

<div class="container" style="font-size: 13pt;">
    
    <div>
        <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif"> Quý khách đã có File in  => Gửi ngay cho chúng tôi qua mail <strong style="color: #0000ff;">inansongviet@gmail.com</strong> để nhận được báo giá nhanh chóng.
    </div>
    <div>
        <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif"> Quý khách chưa có File in  => Không sao! chúng tôi sẽ thiết kế file in và quý khách sẽ nhận ngay báo giá khi chúng tôi biết số lượng Quý khách cần in.
    </div>
</div>

<br>


<h3 class="container alert alert-primary" style="color: #0000ff;">QUY CÁCH IN TAG TREO</h3>

<br>
<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody>
        <tr>
            <td>Công nghệ in</td>
            <td>In Tag treo bằng máy in Offset 2 mặt, không giới hạn màu sắc</td>
        </tr>
        <tr>
            <td>Chất liệu giấy</td>
            <td>Giấy Coucher 300gsm.</td>
        </tr>
        <tr>
            <td>Kích thước</td>
            <td>Theo yêu cầu</td>
        </tr>
        <tr>
            <td>Hình dáng</td>
            <td>Cắt bế đục lổ thành phẩm theo yêu cầu</td>
        </tr>
        <tr>
            <td>Cán màng</td>
            <td>Cán màng mờ hoặc không cán màng</td>
        </tr>
        <tr>
            <td>Số lượng</td>
            <td>tối thiểu 500 tờ, tối đa là không giới hạn</td>
        </tr>
        <tr>
            <td>Thời gian</td>
            <td>1 ngày</td>
        </tr>                      
        <tr>            
            <td colspan="2">Đội ngũ kỹ thuật nhiều năm kinh nghiệm.</td>
        </tr>
        <tr>            
            <td colspan="2">Giấy in tag treo được nhập đúng tiêu chuẩn, chất lượng và định lượng.</td>
        </tr>
        <tr>            
            <td colspan="2">Số lượng thẻ treo thành phẩm từ đủ tới dư do bồi thêm giấy trừ hao hụt trong quá trình thi công.</td>
        </tr>
        <tr>            
            <td colspan="2">Giá thành in thẻ treo rẻ do in trực tiếp tại xưởng không qua trung gian.</td>
        </tr>       
    </tbody>
</table>

<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY TRÌNH ĐẶT IN </h3>

<br>

<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody>
        <tr>
            <td>1</td>
            <td>Nhận File in trực tiếp hoặc qua Email : inansongviet@gmail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Xem File báo giá in bao thư qua mail hoặc gọi trực tiếp.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Chuyển khoản cọc 50% đơn hàng.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Tiến hành in</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Giao hàng tận nơi thanh toán 50% số tiền còn lại.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Khách hàng ở các tỉnh, thành khác => chuyển khoản 100% tiền in công ty chúng tôi sẽ gửi chành xe, chuyển phát nhanh, nhà ga,… về tận nơi.</td>
        </tr>        
    </tbody>
</table>

<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">Hình Dáng Tag Treo</h3>
<div >
    <table class=" container hinhdangtagtreo">
        <tr style="display: inline;margin: auto;">
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/mau1.jpg" alt=""></td>
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/mau2.jpg" alt=""></td>            
        </tr>  
        <tr style="display: inline;margin: auto;">
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/thanhpham10.jpg" alt=""></td>
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/thanhpham11.jpg" alt=""></td>            
        </tr> 
        <tr style="display: inline;margin: auto;">
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/thanhpham12.jpg" alt=""></td>
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/thanhpham13.jpg" alt=""></td>            
        </tr>  
        <tr style="display: inline;margin: auto;">
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/thanhpham14.jpg" alt=""></td>
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/thanhpham15.jpg" alt=""></td>            
        </tr>
        <tr style="display: inline;margin: auto;">
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/thanhpham16.jpg" alt=""></td>
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/thanhpham17.jpg" alt=""></td>            
        </tr> 
        <tr style="display: inline;margin: auto;">
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/thanhpham4.jpg" alt=""></td>
            <td><img style="width: 100%;" src="../../assets/imgs/home/product/thetreo/thanhpham18.jpg" alt=""></td>            
        </tr> 
    </table>
</div>
<br>