
.bangbaogia{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 16pt;
  }
  
   td, th {
    border: 1.5px solid #d4d4d4;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #fcfcfc;
  }
 
  .cauhoi{
    text-align: left;
    background-color: #fefeff;
    border-color: #d6d8db;
  }
  .quycach{
    text-align: left;
  }
  .quytrinh{
    text-align: left;
    background-color: #fefeff;
    border-color: #d6d8db;
  }
