<!-- image and line in header -->
<div style="display: block;margin: auto;">
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img style="width: 100%;" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<!-- intro page and slogan -->
<div class="col-lg-12 text-center" style="padding-top: 100px; padding-bottom: 50px;">
    <h1 style="color: #0000ff;">IN TỜ RƠI - TỜ GẤP - IN BROCHURE</h1>
    <!--<h3>Chất lượng làm nên thương hiệu</h3>-->
    <hr class="line-yellow" style="border-color: #fed136; border-width: .2rem; max-width: 3.25rem;">
</div>
<!-- coppy from vinhPhat-->
<div class="container" style="font-size: 14pt;">
    <p>
        <strong>Công ty thiết kế in ấn Song Việt</strong> chuyên nhận <strong>in tờ rơi, tờ gấp</strong> trên nhiều loại giấy và kích thước đa dạng theo yêu cầu khách hàng trên toàn quốc.        
    </p>
    <p>
        Công nghệ <strong>in tờ rơi</strong> bằng máy <strong>in offset</strong> hiện đại nhất không giới hạn về màu sắc, hình ảnh cần hiển thị, công suất lớn, tộc độ in nhanh sẽ đáp ứng được tất cả các yêu cầu của khách hàng.
    </p>
    <p>
        Là công ty<strong> in tờ rơi</strong> hàng đầu trên thị trường chúng tôi chủ động được trong tất cả các khâu sản xuất giúp giảm giá thành sản phẩm trực tiếp từ khâu đầu tiên nên giá in tại <strong>Song Việt</strong> luôn rẻ hơn so với trên thị trường từ 10 – 20%.

        Rẻ hơn thị trường là vậy nhưng chất lượng giấy, độ dày của giấy và số lượng luôn luôn được đảm bảo và cũng là tiêu chí phát triển của công ty: “nhanh – rẻ – đẹp – chất lượng”
    </p>
    
</div>
<br>

<!-- intro page -->

<!-- img for product in paper -->
<div class="container">
    <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6 d-block mb-4 h-100">
            <!-- <a href="intoroi" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/1.jpg" alt="in tờ rơi" title="In Tờ Rơi">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/1.jpg" alt="in tờ rơi" title="In Tờ Rơi">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intoroi" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/2.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/2.jpg" alt="in tờ tơi" title="In Tờ Rơi">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intoroi" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/3.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/3.jpg" alt="In Tờ Rơi" title="In Tờ Rơi">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intoroi" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/4.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/4.jpg" alt="in tờ rơi" title="In Tờ Rơi">
        </div>
        <div class="col-lg-3 col-md-4 col-6 d-block mb-4 h-100">
            <!-- <a href="intoroi" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/5.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/5.jpg" alt="in tờ rơi" title="In Tờ Rơi">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intoroi" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/6.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/6.jpg" alt="in tờ rơi" title="In Tờ Rơi">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intoroi" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/10.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/7.jpg" alt="in tờ rơi" title="In Tờ Rơi">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/22.jpg" alt="">               
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/8.jpg" alt="in tờ rơi" title="In Tờ Rơi">
        </div>
        <div class="col-lg-3 col-md-4 col-6 d-block mb-4 h-100">
            <!-- <a href="intoroi" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/23.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/9.jpg" alt="in tờ rơi" title="In Tờ Rơi">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intoroi" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/24.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/10.jpg" alt="in tờ rơi" title="In Tờ Rơi">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intoroi" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/25.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/11.jpg" alt="in tờ rơi" title="In Tờ Rơi">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="intoroi" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/50.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/12.jpg" alt="in tờ rơi" title="In Tờ Rơi">
        </div>
    </div>
</div>
<!-- /.container -->


<div class="container" style="font-size: 14pt;">
    <p>
    Công ty in <strong>Song Việt</strong> được khách hàng đánh giá là địa chỉ in <strong>Tờ Rơi, Brochure</strong> hàng đầu tại TpHCM nhờ có được những ưu điểm nổi bật như sau:
    </p>
    <p>
    + <strong>In trực tiếp</strong> không qua trung gian nào nên giá in rẻ nhất nhì toàn quốc.
    </p>
    <p>
    + Công nghệ <strong>in Offset</strong> hiện đại với hệ màu CMYK chạy bài in bằng máy lớn độ phủ màu đạt 100% khổ in.
    </p>
    <p>
    + <strong>Thời gian</strong> in nhanh (<strong> chỉ 1 ngày</strong> là có hàng nếu Quý khách có sẵn File in).
    </p>
    <p>
    + Trực tiếp gia công các khâu: <strong>cán màng, cắt, bế, cấn, thành phẩm</strong> tại công ty => Giảm giá thành và thời gian chờ của sản phẩm. 
    </p>
    <p>
    + <strong>Chất lượng giấy tốt, đúng độ dày, độ lán bóng</strong> của giấy dùng chuyên in tờ rơi, brochure,....
    </p>
</div>
<br>

<!-- IMAGE MACHELINE OFFSET-->
<div class="container">
    <img class="container" src="../../assets/imgs/home/boder/11.jpg" alt="">
</div>

<br>
<br>
<br>

<!--bang bao gia Song Việt-->
<!-- giấu bảng giá -->
<!-- 
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ IN TỜ RƠI</h3>
<br>
<h3 class="container" style="text-align: center; color: #7fbd00;">TỜ RƠI KÍCH THƯỚC A4 (21 X 29,7cm)</h3>


<table class="container bangbaogia">
    <tr style="color: #fed136;">
        <th rowspan="2">Số Lượng</th>
        <th colspan="3">Giá Theo Độ Dày Giấy COUCHE</th>
        <th>Quy Cách</th>
    </tr>
    <tr> 
        <td style="background-color: #7fbd00; color: #ffffff;">Giấy C100</td>
        <td style="background-color: #7fbd00; color: #ffffff;">Giấy C150</td>
        <td style="background-color: #7fbd00; color: #ffffff;">Giấy C200</td>
        <td rowspan="9" style="text-align: left;">
            <i>
                <p>- In offset với hệ màu CMYK 4 màu 2 mặt</p>
                <p>- Khổ A4 : 21 X 29,7 cm</p>
                <p>- Cán màng mờ hoặc màn bóng 2 mặt</p>
                <p>- Cắt thành phẩm</p>
            </i>
        </td>
    </tr>
    <tr>
        300 
        <td><strong><i>500 Tờ</i></strong></td>
        <td><strong><i>680.000</i></strong></td>
        <td><strong><i>730.000</i></strong></td>
        <td><strong><i>920.000</i></strong></td>
    </tr>
    <tr>
         350
        <td><strong><i>1000 Tờ</i></strong></td>
        <td><strong><i>830.000</i></strong></td>
        <td><strong><i>910.000</i></strong></td>
        <td><strong><i>1.150.000</i></strong></td>
    </tr>
    <tr>
        600
        <td><strong><i>2000 Tờ</i></strong></td>
        <td><strong><i>1.280.000</i></strong></td>
        <td><strong><i>1.430.000</i></strong></td>
        <td><strong><i>1.70.000</i></strong></td>
    </tr>
    <tr>
        700
        <td><strong><i>3000 Tờ</i></strong></td>
        <td><strong><i>1.560.000</i></strong></td>
        <td><strong><i>1.790.000</i></strong></td>
        <td><strong><i>2.150.000</i></strong></td>
    </tr>
    <tr>
        800
        <td><strong><i>5000 Tờ</i></strong></td>
        <td><strong><i>2.150.000</i></strong></td>
        <td><strong><i>2.500.000</i></strong></td>
        <td><strong><i>2.950.000</i></strong></td>
    </tr>
    <tr>
        1000
        <td><strong><i>10.000 Tờ</i></strong></td>
        <td><strong><i>3.550.000</i></strong></td>
        <td><strong><i>4.300.000</i></strong></td>
        <td><strong><i>5.250.000</i></strong></td>
    </tr>
</table>
<br>
<br>
-->




<!--BẢNG BÁO GIÁ IN TỜ RƠI DÀNH CHO ĐẠI LÝ CẤP 1-->
<!-- 
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ IN TỜ RƠI DÀNH CHO ĐẠI LÝ CẤP 1</h3>
<br>
<h3 class="container" style="text-align: center; color: #7fbd00;">TỜ RƠI KÍCH THƯỚC A4 (21 X 29,7cm)</h3>

<table class="container bangbaogia">
    <tr style="color: #fed136;">
        <th rowspan="2">Số Lượng</th>
        <th colspan="3">Giá Theo Độ Dày Giấy COUCHE</th>
        <th>Quy Cách</th>
    </tr>
    <tr> 
        <td style="background-color: #7fbd00; color: #ffffff;">Giấy C100</td>
        <td style="background-color: #7fbd00; color: #ffffff;">Giấy C150</td>
        <td style="background-color: #7fbd00; color: #ffffff;">Giấy C200</td>
        <td rowspan="9" style="text-align: left;">
            <i>
                <p>- In offset với hệ màu CMYK 4 màu 2 mặt</p>
                <p>- Khổ A4 : 21 X 29,7 cm</p>
                <p>- Cán màng mờ hoặc màn bóng 2 mặt</p>
                <p>- Cắt thành phẩm</p>
            </i>
        </td>
    </tr>
    <tr>  20k 
        <td><strong><i>500 Tờ</i></strong></td>
        <td><strong><i>400.000</i></strong></td>
        <td><strong><i>450.000</i></strong></td>
        <td><strong><i>640.000</i></strong></td>
    </tr>
    <tr> 20k 
        <td><strong><i>1000 Tờ</i></strong></td>
        <td><strong><i>500.000</i></strong></td>
        <td><strong><i>580.000</i></strong></td>
        <td><strong><i>820.000</i></strong></td>
    </tr>
    <tr>  20k 
        <td><strong><i>2000 Tờ</i></strong></td>
        <td><strong><i>700.000</i></strong></td>
        <td><strong><i>850.000</i></strong></td>
        <td><strong><i>1.120.000</i></strong></td>
    </tr>
    <tr>  30k 
        <td><strong><i>3000 Tờ</i></strong></td>
        <td><strong><i>890.000</i></strong></td>
        <td><strong><i>1.120.000</i></strong></td>
        <td><strong><i>1.4800.000</i></strong></td>
    </tr>
    <tr>  50k
        <td><strong><i>5000 Tờ</i></strong></td>
        <td><strong><i>1.400.000</i></strong></td>
        <td><strong><i>1.750.000</i></strong></td>
        <td><strong><i>2.200.000</i></strong></td>
    </tr>
    <tr>   100 k
        <td><strong><i>10.000 Tờ</i></strong></td>
        <td><strong><i>2.650.000</i></strong></td>
        <td><strong><i>3.400.000</i></strong></td>
        <td><strong><i>4.350.000</i></strong></td>
    </tr>
</table>
<br>
<div class="container" style="font-size: 13pt; color: #ff0000;">
    <div style="font-size: 14pt;"><u>Ghi chú:</u></div>
    <ul style="padding: 20px; font-size: 14pt; color: #0000ff;">
        <li>Tờ Rơi mặc định không cán màng, nếu có cán màng thì sẽ tính giá cán màng gia công</li>
        <li>Tờ Rơi A5(14.8 * 21cm) giá bằng 1/2 tờ rơi A4 và tối thiểu 1000 tờ</li>
        <li>Tờ Rơi có bế cấn + 300.000đ với số lượng dưới 3000 (Trên 3000 tờ + 80đ/tờ)</li>
        <li>Bế theo yêu cầu + 400.000đ với số lượng dưới 3000 tờ</li>
        <li style="font-size: 14pt; color: #ff0000;"><strong>Bảng giá trên chưa bao gồm VAT 10% </strong></li>
    </ul>
</div>

<br>
<br>



<div class="container" style="font-size: 13pt; color: #ff0000;">
    <div style="font-size: 14pt;"><u>Ghi chú:</u></div>
    <ul style="padding: 20px; font-size: 14pt; color: #0000ff;">
        <li>Tờ Rơi A5(14.8 * 21cm) giá bằng 1/2 tờ rơi A4 và tối thiểu 1000 tờ</li>
        <li>Tờ Rơi có bế cấn + 300.000đ với số lượng dưới 3000 (Trên 3000 tờ + 80đ/tờ)</li>
        <li>Bế theo yêu cầu + 500.000đ với số lượng dưới 3000 tờ</li>
        <li style="font-size: 14pt; color: #ff0000;"><strong>Bảng giá trên chưa bao gồm VAT 10% </strong></li>
    </ul>
</div>
-->



<!--BẢNG BÁO GIÁ IN TỜ RƠI DÀNH CHO ĐẠI LÝ CẤP 2-->
<!--
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ IN TỜ RƠI DÀNH CHO ĐẠI LÝ</h3>
<br>
<h3 class="container" style="text-align: center; color: #7fbd00;">TỜ RƠI KÍCH THƯỚC A4 (21 X 29,7cm)</h3>

<table class="container bangbaogia">
    <tr style="color: #fed136;">
        <th rowspan="2">Số Lượng</th>
        <th colspan="3">Giá Theo Độ Dày Giấy COUCHE</th>
        <th>Quy Cách</th>
    </tr>
    <tr> 
        <td style="background-color: #7fbd00; color: #ffffff;">Giấy C100</td>
        <td style="background-color: #7fbd00; color: #ffffff;">Giấy C150</td>
        <td style="background-color: #7fbd00; color: #ffffff;">Giấy C200</td>
        <td rowspan="9" style="text-align: left;">
            <i>
                <p>- In offset với hệ màu CMYK 4 màu 2 mặt</p>
                <p>- Khổ A4 : 21 X 29,7 cm</p>
                <p>- Không cán màng</p>
                <p>- Cắt thành phẩm</p>
            </i>
        </td>
    </tr>
    <tr> 
        <td><strong><i>500 Tờ</i></strong></td>
        <td><strong><i>500.000</i></strong></td>
        <td><strong><i>550.000</i></strong></td>
        <td><strong><i>720.000</i></strong></td>
    </tr>
    <tr>
        <td><strong><i>1000 Tờ</i></strong></td>
        <td><strong><i>600.000</i></strong></td>
        <td><strong><i>680.000</i></strong></td>
        <td><strong><i>920.000</i></strong></td>
    </tr>
    <tr> 
        <td><strong><i>2000 Tờ</i></strong></td>
        <td><strong><i>830.000</i></strong></td>
        <td><strong><i>980.000</i></strong></td>
        <td><strong><i>1.150.000</i></strong></td>
    </tr>
    <tr>  
        <td><strong><i>3000 Tờ</i></strong></td>
        <td><strong><i>1.050.000</i></strong></td>
        <td><strong><i>1.260.000</i></strong></td>
        <td><strong><i>1.600.000</i></strong></td>
    </tr>
    <tr> 
        <td><strong><i>5000 Tờ</i></strong></td>
        <td><strong><i>1.600.000</i></strong></td>
        <td><strong><i>1.950.000</i></strong></td>
        <td><strong><i>2.400.000</i></strong></td>
    </tr>
    <tr> 
        <td><strong><i>10.000 Tờ</i></strong></td>
        <td><strong><i>3.000.000</i></strong></td>
        <td><strong><i>3.750.000</i></strong></td>
        <td><strong><i>4.700.000</i></strong></td>
    </tr>
</table>
-->


<!-- giấu bảng giá -->
<!-- 
<br>
<br>
<h3 class="container" style="text-align: center; color: #7fbd00;">Tờ Rơi - Brochure 29.7 x 63cm</h3>

<table class="container bangbaogia">
    <tr>          
        <th rowspan="2">Số Lượng</th>          
        <th colspan="6">Đơn giá</th>
    </tr>    
    <tr style="background-color: #7fbd00; color: #ffffff;">        
        <td>Giấy C150</td>
        <td>Giấy C200</td>
        <td>Giấy C250</td>           
    </tr>
    <tr>
        <td><strong><i>1000</i></strong></td>         
        <td><strong><i>4.800/tờ</i></strong></td>
        <td><strong><i>5.400/tờ</i></strong></td>
        <td><strong><i>5.800/tờ</i></strong></td>           
    </tr>
    <tr>
        <td><strong><i>2000</i></strong></td>          
        <td><strong><i>3.550/tờ</i></strong></td>
        <td><strong><i>3.900/tờ</i></strong></td>
        <td><strong><i>4.250/tờ</i></strong></td>           
    </tr>        
    <tr>
        <td><strong><i>3000</i></strong></td>           
        <td><strong><i>3.100/tờ</i></strong></td>
        <td><strong><i>3.450/tờ</i></strong></td>
        <td><strong><i>3.750/tờ</i></strong></td>           
    </tr>
    <tr>
        <td><strong><i>5000</i></strong></td>          
        <td><strong><i>2.800/tờ</i></strong></td>
        <td><strong><i>3.100/tờ</i></strong></td>
        <td><strong><i>3.500/tờ</i></strong></td>           
    </tr>              
</table>

<br>
-->

<!-- giấu bảng giá-->
<!--
<ul class="container" style="padding: 20px; font-size: 14pt;">    
    <li style="font-size: 14pt; color: #ff0000;"><strong>Bảng giá trên chưa bao gồm VAT 10% </strong></li>
</ul>

<div class="container" style="font-size: 14pt;">
    <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif"> Quý khách đã có File in  => Gửi ngay cho chúng tôi qua mail <strong style="color: #006eff;">inansongviet@gmail.com</strong> để nhận được báo giá nhanh chóng.
</div>
<div class="container" style="font-size: 14pt;">
    <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif"> Quý khách chưa có File in  => Không sao! chúng tôi sẽ thiết kế file in và quý khách sẽ nhận ngay báo giá khi chúng tôi biết số lượng Quý khách cần in.
</div>

<br>
<br>
<h3 class="container" style="color: #ffffff; background-color: darkslategray;">BẢNG BÁO GIÁ THIẾT KẾ TỜ RƠI</h3>
-->
<br>
<br>
<h3 class="container alert alert-primary" style="color: #0000ff;">NHỮNG CÂU HỎI THƯỜNG GẶP</h3>
<br>

<table class="container" style="font-size: 14pt;">
    <tbody class="cauhoi">
        <tr>
            <td>Giá <strong>In Tờ Rơi</strong> được tính như thế nào ?</td>
            <td>Giá in sẽ phụ thuộc vào số lượng in cho 1 mẫu tờ rơi, ngoài những quy cách chuẩn có trên bảng giá in tờ rơi bên trên chúng tôi sẽ báo giá trực tiếp cho khách hàng nếu có yêu cầu về quy cách in khác.</td>     
        </tr>
        <tr>
            <td>Giấy<strong> In Tờ Rơi</strong> là loại giấy nào?</td>
            <td>Loại giấy in tờ rơi chuyên dụng được nhiều khách hàng chọn nhất là giấy Couche 150gsm (Bảng giá in tờ rơi bên trên). Ngoài ra chúng tôi còn có giấy coucher 100gsm, giấy fort 80gsm, fort 120gsm,…</td>        
        </tr>
        <tr>
            <td>In màu sắc sẽ như thế nào?</td>
            <td>Đặc thù trong in offset là ghép bài in nên độ chênh lệch màu sẽ có, với tỉ lệ chấp nhận được là 9/10 so với file gốc. Màu sắc hiển thị trên màng hình sẽ tương đối khác so với màu sắc thực tế do màu sắc được trợ sáng từ màng hình.</td>        
        </tr>
        <tr>
            <td>Kích thước Tờ Rơi thành phẩm?</td>
            <td>Thành phẩm sẽ cắt mằng máy cắt công nghiệp nên sẽ có sai số từ +/- 1 –> 2mm so với kích thước file in. Nếu Quý khách muốn kích thước chính xác phải làm khuôn bế thủ công.
        </td>        
        </tr>
        <tr>
            <td>File như thế nào In Tờ Rơi mới đẹp?</td>
            <td>Để chất lượng in tờ rơi được đẹp nhất phải dùng file gốc vecter để in như: AI, CDR, PDF,… mới cho ra được thành phẩm sắc nét và màu chuẩn nhất. Có khách hỏi rằng chỉ có tấm hình có nhận in được không ? Song Việt sẽ hỗ trợ dựng lại file in để in sắc nét hơn với giá 50k/1 mẫu</td>
        </tr>
        <tr>
            <td>Thời gian in lâu không?</td>
            <td>Chỉ từ 24 – 48 giờ là có hàng. Với những loại như túi giấy, bao thư, nhãn decal, folder,… thời gian có hàng sẽ phụ thuộc vào bài ghép và gia công bế dán nên trung bình từ 3 – 7 ngày mới có hàng.</td>        
        </tr>
        <tr>
            <td class="cauhoi">Giao hàng như thế nào?</td>
            <td>Đối với khách trong nội thành có thể đến trực tiếp văn phòng để nhận hàng hoặc book Grab và Ahamove. <br>
                Đối với khách ở tỉnh Quý Khách cung cấp SĐT và Địa Chỉ nhận hàng. Song Việt sẽ hỗ trợ giao hàng thông qua Giao Hàng Tiết Kiệm (GHTK)
            </td>  
        </tr>
        <tr>
            <td>Chế độ bảo hành, đổi trả với những sản phẩm lỗi như thế nào?</td>
            <td>
                <p style="color: #ff0000;">Khi phát hiện lỗi nếu do nhà sản xuất công ty chúng tôi sẽ hoàn tiền đơn hàng lại 100% hoặc in lại nếu khách hàng đồng ý.</p>
                <p>Nếu lỗi do khách hàng cung cấp sai file hoặc duyệt in không để ý dẫn đến sai chính tả, nội dung,… Công ty sẽ không chịu trách nhiệm. Với những khách hàng có nhu cầu sửa file in lại công ty sẽ thương lượng hổ trợ khách giá in tốt nhất có thể.</p>
            </td>        
        </tr>
    </tbody>
</table>


<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY CÁCH IN </h3>

<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody class="quycach">
        <tr>
            <td>Công nghệ in</td>
            <td>In Tờ Rơi, Brochure bằng máy offset công nghiệp 1 mặt, 2 mặt</td>
        </tr>
        <tr>
            <td>Màu in</td>
            <td>Không giới hạn màu sắc</td>
        </tr>
        <tr>
            <td>Kích thước</td>
            <td>A4, A5, hoặc kích thước tùy khách hàng yêu cầu</td>
        </tr>
        <tr>
            <td>Số lượng</td>
            <td>Tối thiểu 500 tờ, tối đa không giới hạn</td>
        </tr>
        <tr>
            <td>Thời gian</td>
            <td>1 ngày có hàng</td>
        </tr>
        <tr>
            <td>Loại giấy</td>
            <td>Giấy Coucher C80 - 300gsm thông dụng là giấy C150</td>
        </tr>
        <tr>
            <td>Cán màng</td>
            <td>Thường sẽ cán 2 mặt hoặc sẽ không cán nếu khách hàng yêu cầu</td>
        </tr>
        <tr>
            <td>Cắt, cấn, bế</td>
            <td>Theo yêu cầu</td>
        </tr>
        <tr>            
            <td colspan="2" style="text-align: left;">Số lượng tờ rơi thành phẩm luôn dư do bồi thêm giấy trừ hao hụt trong quá trình thi công.</td>
        </tr>
        <tr>            
            <td colspan="2" style="text-align: left;background-color: #ffffff;">Giấy in tờ rơi được nhập đúng tiêu chuẩn, chất lượng và định lượng.</td>
        </tr>
        <tr>            
            <td colspan="2" style="text-align: left;">Giá thành in tờ rơi rẻ do in trực tiếp tại xưởng không in qua trung gian.</td>
        </tr>
    </tbody>
</table>

<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY TRÌNH ĐẶT IN</h3>

<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody class="quytrinh">
        <tr>
            <td>1</td>
            <td class="quytrinh">Nhận File in trực tiếp hoặc qua Email : inansongviet@gmail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td class="quytrinh">Xem File báo giá in tờ rơi qua mail hoặc gọi trực tiếp.</td>
        </tr>
        <tr>
            <td>3</td>
            <td class="quytrinh">Chuyển khoản cọc 50% đơn hàng.</td>
        </tr>
        <tr>
            <td>4</td>
            <td class="quytrinh">Tiến hành in name card</td>
        </tr>
        <tr>
            <td>5</td>
            <td class="quytrinh">Giao hàng tận nơi thanh toán 50% số tiền còn lại.</td>
        </tr>
        <tr>
            <td>6</td>
            <td class="quytrinh">Khách hàng ở các tỉnh, thành khác => chuyển khoản 100% tiền in công ty chúng tôi sẽ gửi chành xe, chuyển phát nhanh, nhà ga,… về tận nơi.</td>
        </tr>        
    </tbody>
</table>

<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">MẪU TỜ RƠI</h3>
<br>
<div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/13.jpg">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/14.jpg">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/15.jpg">   
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/16.jpg">   
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/17.jpg">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/18.jpg">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/19.jpg">   
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/20.jpg">   
      </div>
    </div>
  </div>
<br>
<br>
<br>
<h3 class="container" style="color: #ffffff; background-color: darkslategray;">Tin Tức Cập Nhật</h3>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-ep-kim">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/21.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tờ Rơi Ép Kim</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-uv">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/22.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tờ Rơi UV</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-be-noi">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/23.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tờ Rơi Bế Nổi</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-gap-3">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/24.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tờ Rơi Gấp 3</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-nha-hang">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/25.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tờ Rơi cho Nhà Hàng</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-quan-an">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/26.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tờ Rơi cho gà ráng KFC</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-theo-kich-thuoc">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/27.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tờ Rơi Nha Khoa</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-gap-4">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/28.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tờ Rơi Festival</div>
            </a>
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-gap-4">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/29.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tờ Rơi Bussiness</div>
            </a>
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-gap-4">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/30.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tờ Rơi Du Lịch</div>
            </a>
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-gap-4">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/31.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tờ Rơi Âm Nhạc</div>
            </a>
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="to-roi-gap-4">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/toroi/32.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Tờ Rơi Phòng Gym</div>
            </a>
        </div>       
    </div>
</div>