<div style="display: block;margin: auto;">
    <!--<div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div>-->
    <img style="width: 100%;" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<h1 style="margin-left: 540px; padding: 50px;">Loading</h1>

<div class="container">
    <div class="row" style="padding: 30px; margin-left: 0px;">
        <ul class="theredot" style="text-align: center;">
            <li style="text-decoration: none; ">
                <a class="note" href="sendfile"></a>
            </li>
            <li style="text-decoration: none; text-align: center">
                <a class="note" href="sendfile"></a>
            </li> 
            <li style="text-decoration: none; text-align: center">
                <a class="note" href="sendfile"></a>
            </li>
        </ul>
    </div>
<!-- PROCESS HERE -->
    <label for="orderform-uploadfiles">
        <i class="fas fa-upload"></i>
        Gửi File
    </label>
</div>




<div class="container">

    <div class="info">
        <div class="info-header">
            
        </div>
        <div class="info-body">
            <div class="form-group row">
                <label for="control-label col-4">Tên</label>
                <div class="col-8">
                    <div class="field-orderform-customername required has-error">
                        <input type="text" id="orderform-customername" class="form-control" name="OrderForm[customerName]" value="TEST" placeholder="Tên của quý khách" aria-required="true" aria-invalid="true">
                        <div class="help-block">Tên khách hàng không được để trống.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-footer">
            
        </div>

    </div>
</div>




