<div>
    <!--<div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div>-->
    <img class="imgs" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<h1 style="margin-left: 540px; padding: 50px;">Loading</h1>

<div class="container">
    <div class="row" style="padding: 30px; margin-left: 0px;">
        <ul class="theredot" style="text-align: center;">
            <li style="text-decoration: none; ">
                <a class="note" href="sendfile"></a>
            </li>
            <li style="text-decoration: none; text-align: center">
                <a class="note" href="sendfile"></a>
            </li> 
            <li style="text-decoration: none; text-align: center">
                <a class="note" href="sendfile"></a>
            </li>
        </ul>
    </div>
</div>






