<div>
    <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div>
</div>
    
<div class="footer_home">
    <div>
        <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
        <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
        <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
        <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
    </div>
    <div class="container" style="padding: 12px;">			 		
        <a>	
            <span>GỌI NGAY ĐỂ ĐƯỢC TƯ VẤN</span>			
        </a>		
        <a>
            <i class='fa fa-phone' arua-hidden='true'></i>				
            <span>0766864391 (Mr.Khanh)</span>			
        </a>
        <a>
            <i class='fa fa-phone' arua-hidden='true'></i>
            <span>0782020203 (Mr.Duy)</span>
        </a>
        <a>
            <i class='fa fa-phone' arua-hidden='true'></i>
            <span>0766864391 (Hỗ Trợ)</span>
        </a>			
    </div>
</div>  
<hr style="box-shadow: inherit; margin-top: 0px;">

<h1 style="text-align: center; padding: 50px;">Đang Cập Nhật Chức Năng</h1>

<div class="container">
    <div class="row">
        <ul class="theredot">
            <li style="text-decoration: none; text-align: center;">
                <a class="note" href="sendfile"></a>
            </li>
            <li style="text-decoration: none; text-align: center">
                <a class="note" href="sendfile"></a>
            </li> 
            <li style="text-decoration: none; text-align: center">
                <a class="note" href="sendfile"></a>
            </li>
        </ul>
    </div>
    <hr class="mt-2 mb-5">
</div>






