<link rel="canonical" href="https://inansongviet.com"/>
<!-- image and line in header -->
<div style="display: block;margin: auto;">
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img style="width: 100%;" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>


<br>
<br>
<div class="container" style="text-align: justify; font-size: 13pt;">
    <h1>Giấy kraft là gì ? và những ứng dụng trong đời sống</h1>
    <br><br>
    <h2>Giấy kraft là gì?</h2>
    <p class="paragraph" style="font-size: 13pt;">

    Giấy kraft là loại giấy dùng để đóng gói, làm bao bì được sản xuất từ bột gỗ của thân cây gỗ mềm, 
    tạo nên bởi quy trình nghiền bột. Quy trình nghiền bột giấy kraft được tiên phong bởi Carl F. Dahl của Đức
    vào những năm 1880. Trong các quá trình sản xuất giấy thông thường, gỗ sẽ được ép và nghiền thành bột giấy trước. 
    Tuy nhiên, Carl F. Dahl đã nhận thấy rằng, việc xử lý bột giấy cellulose bằng một số hóa chất (sunfat) 
    nhầm làm tăng độ bền chắc của giấy. Đó là lý do giấy kraft ra đời và được sử dụng làm vật liệu đóng gói do tính chất bền, 
    dẻo dai và hữu ích của nó. Dahl đã gọi giấy của mình là giấy kraft – vì kraft theo tiếng Đức có nghĩa là ‘sức mạnh’.
    Giấy kraft xưa thường chỉ được dùng làm bao bì trong lĩnh vực công nghiệp (thường được biết đến với tên gọi là giấy xi măng). 
    Nhưng ngày nay, chúng có mặt ở khắp mọi nơi với nhiều mục đích khác nhau như Danh Thiếp, bao thư, Túi Giấy mua sắm, giấy gói thực phẩm, 
    bao lì xì, thẻ treo quần áo,…  <br> và rất nhiều những vật dụng khác mà chúng ta sử dụng hàng ngày, vì vật liệu giấy ngày nay thân thiện với môi trường.
    <img src="../../assets/imgs/home/product/inansongviet/name-card-giay-kraft.jpg" alt="Công Ty Thiết Kế & Quảng Cáo Song Việt" title="ứng dụng giấy kraft">
    <br>
    </p>
    <h2>Màu sắc của giấy kraft</h2>
    <p class="paragraph" style="font-size: 13pt;">
    Giấy kraft có hai màu là nâu vàng và trắng. Màu nâu vàng nhạt được làm từ sợi Xenlulozo được xử lí với muối Natri sunphat, 
    không cần qua bước tẩy trắng bằng phương pháp sun-phit. 
    Loại giấy tự nhiên thường là màu nâu vàng nhưng thường được tẩy trắng để sản xuất giấy trắng.
    Vì vậy màu sắc tự nhiên đặc trưng giống màu gỗ nên mang lại cảm giác sang trọng cổ điển.
    </p>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <a routerLink="tui-giay">
                <img class="img-fluid img-thumbnail" src="../assets/imgs/home/product/inansongviet/tui-giay-kraft-nau.jpg" title="tui giay kraft nau" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Túi giấy kraft nâu dây xoắn</div>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <a routerLink="tui-giay">
                <img class="img-fluid img-thumbnail" src="../assets/imgs/home/product/inansongviet/tui-giay-kraft-trang.jpg" title="tui giay kraft trang" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Túi giấy kraft trắng dây xoắn</div>
            </a>
        </div>    
        <div class="col-md-4 col-sm-4 col-xs-4">
            <a routerLink="tui-giay">
                <img class="img-fluid img-thumbnail" src="../assets/imgs/home/product/inansongviet/tui-giay-kraft-bao-ve-moi-truong.jpg" title="tui giay kraft trang" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Túi giấy kraft baỏ vệ môi trường</div>
            </a>
        </div> 
                
    </div>
    <br>

    <h2>Ưu điểm nổi bật của giấy kraft</h2>
    <p class="paragraph" style="font-size: 13pt;">
    Đặc tính của nó là bền, dẻo dai, tương đối thô, bắt mực tốt và chống thấm tốt Khả năng thấm hút ẩm <br>
    Thấm dầu tốt nên thường dùng làm bao bì thực phẩm.<br>
    - Định lượng từ : 80 - 400gsm/m2. <br>
    - Dễ phân hủy trong môi trường tự nhiên, có thể dễ dàng tẩy trắng để tái chế sản xuất giấy trắng thường dùng, <br> 
    - Khả năng tái chế là 100% nên cực kì an toàn với môi trường. Không phản ứng sinh ra chất độc hại khi chịu nhiệt độ cao nên rất an toàn.
    <br>
    - Không cầu kì về hình thức hay kỹ thuật sản xuất nên giá thành rẻ do đó giấy kraft đang ngày càng thông dụng trên thị trường. <br>
    - Giá thành rẻ, giúp các doanh nghiệp tiết kiệm chi phí đầu tư cho việc in ấn bao bì. <br>
    + Có thể <a href="" title="xem them về name card ép kim">Ép Kim</a>, <a href="" title="name card dập nổi">Dập Nổi</a> lên bề mặt nên việc in ấn các họa tiết lên giấy rất dễ dàng. <br>
    + Đặc tính dẻo dai chịu lực giúp cho việc chứa đựng và bảo quản hàng hóa luôn được đảm bảo. <br>
    + Màu tự nhiên đã đẹp sẵn nên không cần tẩy trắng hay phun thêm màu nên an toàn cho sức khỏe con người.
    </p>
    <div class="row">    
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a routerLink="tui-giay">
                <img class="img-fluid img-thumbnail" src="../assets/imgs/home/product/inansongviet/name-card-giay-kraft-ep-kim.jpg" title="tui giay kraft trang" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Danh thiếp ép kim</div>
            </a>
        </div>        
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a routerLink="tui-giay">
                <img class="img-fluid img-thumbnail" src="../assets/imgs/home/product/inansongviet/name-card-giay-kraft-dap-noi.jpg" title="tui giay kraft trang" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Name card dập nổi</div>
            </a>
        </div>           
    </div>
    <br>
    <h2>Ứng dụng của giấy kraft trong đời sống</h2>
    <p class="paragraph" style="font-size: 13pt;">
     + Giấy kraft Thông dụng nên thường được ứng dụng trong mọi lĩnh vực. <br>
     + Hầu hết là những nhà hàng, khách sạn, quán cafe hoặc những người thích<a href="inansongviet.com" style="color: red;"> trường phái thiết kế cổ điển</a> <br>
     + Giấy kraft được xem là sự lựa chọn hàng đầu trong việc trang trí cũng như thiết kế. <br>
    
    </p>
    <div class="row">
        <div>
            <a routerLink="danh-thiep">
                <img class="img-fluid img-thumbnail" src="../assets/imgs/home/product/inansongviet/name-card-giay-kraft-ep-kim-1.jpg" title="tui giay kraft nau" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Danh thiếp giấy kraft</div>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div>
            <a routerLink="the-treo">
                <img class="img-fluid img-thumbnail" src="../assets/imgs/home/product/inansongviet/name-card-giay-kraft-1.jpg" title="tui giay kraft nau" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Thẻ treo giấy kraft tạo nên vẻ cổ điển</div>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div>
            <a routerLink="hop-giay">
                <img class="img-fluid img-thumbnail" src="../assets/imgs/home/product/inansongviet/hop-giay-kraft.jpg" title="tui giay kraft nau" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Hộp đựng thực phẩm loại này thường rất cứng và chắc chắn</div>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div>
            <a routerLink="tui-giay">
                <img class="img-fluid img-thumbnail" src="../assets/imgs/home/product/inansongviet/tui-giay-kraft-nau-1.jpg" title="tui giay kraft nau" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Túi Giấy cổ điển nhưng không kém phần sang trọng</div>
            </a>
        </div>
    </div>
    <br>
    <br>

    <p style="font-size: 14pt;">
    <strong> Hãy liên hệ với chúng tôi, Nếu có nhu cầu in ấn giấy Kraft :</strong> <br>

    Công ty TNHH Thiết Kế & Quảng Cáo Song Việt <br>

    Địa chỉ: 30 đường số 6, phường Bình Hưng Hòa B, Bình Tân, TP.HCM <br>

    Điện thoại: 0908 77 65 69 <br>

    Email:  inansongviet@gmail.com
    
    <br>
    Tư vấn miễn phí:
    <a href="m.me/inansongviet"> m.me/inansongviet</a>
    </p>
</div>



  