
<link rel="canonical" href="https://inansongviet.com"/>
<!-- image and line in header -->
<div style="display: block;margin: auto;">
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img style="width: 100%;" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<div class="container" style="text-align: justify;">
<br><br>
    <h1>In hộp đựng mỹ phẩm</h1>
    <p class="paragraph">
    Mỹ phẩm là một sản phẩm không có gì xa lạ với chị em phụ nữ nếu không nói đến là quá quen thuộc.
    Vì vậy không những chất lượng bên trong mà ngay cả bao bì hộp bên ngoài cũng phải đẹp mắt 
    làm gợi lên vẻ sang trọng của sản phẩm.

    Hộp đựng son môi là lựa chọn tốt nhất giúp quảng bá thương hiệu của doanh nghiệp tới người tiêu dùng
    là điểm nhắn sản phẩm của bạn với khách hàng giúp khách hàng dễ dàng nhận biết thương hiệu của bạn.

    Có thể nói rằng son môi là một sản phẩm làm đẹp phù hợp mọi độ tuổi: 
    từ những bạn tuổi teen đến các bậc trung niên cao tuổi, ngay cả nam giới cũng sử dụng nhiều.
    </p>    
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a routerLink="hop-dung-my-pham">
                <img src="../../assets/imgs/home/product/inansongviet/in-hop-giay-dung-son-gia-re.jpg" alt="htpps://inansongviet.com" title="in hộp giấy">
                <div  style="color: black; text-align: center;">Mẫu hộp đựng son</div>
            </a>
        </div> 
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a routerLink="hop-dung-my-pham">
                <img src="../../assets/imgs/home/product/inansongviet/in-hop-giay-dung-son-gia-re-1.jpg" alt="htpps://inansongviet.com" title="in hộp giấy">
                <div  style="color: black; text-align: center;">Mẫu hộp đựng son</div>
            </a>
        </div>                                          
    </div>
<br>
    <h3>Lợi ích việc in hộp giấy đựng son nằm ở 3 điểm chính:</h3>

    
    <p class="paragrapph" style="text-align: justify;"> 
        

        * Một, là cầu nối liên kết, kênh quảng bá thương hiệu/sản phẩm tới người tiêu dùng. <br>

        * Hai, là bảo vệ sản phẩm bên trong vừa làm đẹp vừa tôn giá trị sản phẩm. <br>

        * Ba, là nơi ghi rõ thông tin sản phẩm, nguồn gốc xuất xứ, chính nhận sản phẩm,… cho người xem biết về sản phẩm. <br>

    </p>
    <img src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi.jpg" alt="htpps://inansongviet.com" title="in hộp giấy">
        <br><br>

    <p class="paragraph" style="text-align: justify;">
        Digital Box là một dạng bao bì , nhằm nâng cao giá trị của sản phẩm , nhằm kích thích nhu cầu tiêu dùng, tăng tính thẩm mỹ
        Song Việt cam kết 
        đáp ứng được yêu cầu về kỹ thuật in, không lem màu, tương đồng màu sắc so với file thiết kế, <br>
        có thể ép kim hoặc dập nổi, để thêm phầm đẹp mắt cho sản phẩm của mình.

    </p>
    <img src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-1.jpg" alt="htpps://inansongviet.com" title="in hộp giấy">

    <br><br>
    <p style="font-size: 14pt;">
        
        <strong> Hãy liên hệ với chúng tôi, để được tư vấn miễn phí và có cho mình bao bì mỹ phẩm ưng ý :</strong> <br>
    
        Công ty TNHH Thiết Kế & Quảng Cáo Song Việt <br>
    
        Địa chỉ: 30 đường số 6, phường Bình Hưng Hòa B, Bình Tân, TP.HCM <br>
    
        Điện thoại: 0908 77 65 69 <br>
    
        Email:  inansongviet@gmail.com
    
        <br>
        Chat ngay để được tư vấn miễn phí:
        <a href="m.me/inansongviet" target="_blank"> m.me/inansongviet</a>
    </p>

    <img src="" alt="">

</div>


<h3 class="container" style="color: #ffffff; background-color: darkslategray;">Mẫu Hộp Mỹ Phẩm</h3>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-2.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div>  
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-3.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-4.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-5.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div>     
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-6.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div>  
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-7.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_my-pham-8.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-9.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div>  
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-10.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-11.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_my-pham-12.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-6">           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/inansongviet/in_hop_dung_son_moi-8.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
        </div>
    </div>
</div>