<!-- image and line in header -->
<div style="display: block;margin: auto;">
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img style="width: 100%;" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<!-- intro page and slogan -->
<div class="col-lg-12 text-center" style="padding-top: 100px; padding-bottom: 50px;">
    <h1 style="color: #0000ff;">IN NAME CARD – CARD VISIT – IN DANH THIẾP</h1>
    <!--<h3>Chất lượng làm nên thương hiệu</h3>-->
    <hr class="line-yellow" style="border-color: #fed136; border-width: .2rem; max-width: 3.25rem;">
</div>
<!-- coppy from vinhPhat-->
<div class="container" style="font-size: 14pt;">
    <p>
        <strong>Công ty thiết kế in ấn Song Anh</strong> chuyên nhận <strong>in name card, in card visit, in danh thiếp</strong> trên nhiều loại giấy và kích thước đa dạng theo yêu cầu khách hàng trên toàn quốc.        
    </p>
    <p>
        Công nghệ <strong>in name card</strong> bằng máy <strong>in offset</strong> hiện đại nhất không giới hạn về màu sắc, hình ảnh cần hiển thị, công suất lớn, tốc độ in card visit nhanh sẽ đáp ứng được tất cả các yêu cầu của khách hàng.
    </p>
    <p>
        Là công ty<strong> in card visit</strong> hàng đầu trên thị trường chúng tôi chủ động được trong tất cả các khâu sản xuất giúp giảm giá thành sản phẩm trực tiếp từ khâu đầu tiên nên giá <strong>in name card </strong>tại <strong>Song Anh</strong> luôn rẻ hơn so với trên thị trường từ 10 – 20%.

        Rẻ hơn thị trường là vậy nhưng chất lượng giấy, độ dày của giấy và số lượng luôn luôn được đảm bảo và cũng là tiêu chí phát triển của công ty: <i>“nhanh – rẻ – đẹp – chất lượng”</i>
    </p>
    
</div>
<br>

<!-- intro page -->

<!-- img for product in paper -->
<div class="container">
    <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6 d-block mb-4 h-100">
            <!-- <a href="printingnamecard" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/5.jpg" alt="in danh thiếp" title="In Danh Thiếp">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/5.jpg" alt="https://salands.com" title="In Danh Thiếp">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="printingnamecard" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/6.jpg" alt="https://salands.com" title="In Danh Thiếp">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/6.jpg" alt="https://salands.com" title="In Danh Thiếp">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="printingnamecard" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/7.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/7.jpg" alt="https://salands.com" title="In Danh Thiếp">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="printingnamecard" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/8.jpg" alt="https://salands.com" title="In Danh Thiếp">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/8.jpg" alt="https://salands.com" title="In Danh Thiếp">
        </div>
        <div class="col-lg-3 col-md-4 col-6 d-block mb-4 h-100">
            <!-- <a href="printingnamecard" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/9.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/9.jpg" alt="https://salands.com" title="In Danh Thiếp">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="printingnamecard" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/10.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/10.jpg" alt="https://salands.com" title="In Danh Thiếp">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="printingnamecard" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/24.jpg" alt="https://salands.com" title="In Danh Thiếp">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/24.jpg" alt="https://salands.com" title="In Danh Thiếp">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="printingnamecard" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/28.jpg" alt="">               
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/28.jpg" alt="https://salands.com" title="In Danh Thiếp">               
        </div>
        <div class="col-lg-3 col-md-4 col-6 d-block mb-4 h-100">
            <!-- <a href="printingnamecard" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/16.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/16.jpg" alt="https://salands.com" title="In Danh Thiếp">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="printingnamecard" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/17.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/17.jpg" alt="https://salands.com" title="In Danh Thiếp">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="printingnamecard" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/20.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/20.jpg" alt="https://salands.com" title="In Danh Thiếp">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="printingnamecard" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/22.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/22.jpg" alt="https://salands.com" title="In Danh Thiếp">
        </div>
    </div>
</div>
<!-- /.container -->

<br>
<div class="container" style="font-size: 14pt;">
    <p>
        <strong>Card visit, name card, danh thiếp</strong> là một trong các ấn phẩm rất quan trọng nhất của bộ nhận diện thương hiệu của công ty, doanh nghiệp.
    </p>
    <p>
        Vì <strong>card visit, name card, danh thiếp</strong> còn là nơi lưu trữ thông tin liên hệ của một cá nhân đại diện công ty khi giao dịch với đối tác, khách hàng của mình.
    </p>
    <p>
        Để có <strong>card visit</strong> đẹp, chuyên nghiệp mang lại hiệu quả cao trong giao tiếp thì rất cần đến một công ty in <Strong>card visit</Strong> chuyên nghiệp, kinh nghiệm và thiết kế giỏi nhất.
    </p>
    <br>
</div>

<!-- IMAGE MACHELINE OFFSET-->
<div class="container">
    <img class="container" src="../../assets/imgs/home/product/mayinoffset/3.jpg" alt="">
</div>
<br>

<div class="container" style="font-size: 14pt;">
    <p>
    Công ty in <strong>Song Anh</strong> được khách hàng đánh giá là địa chỉ in card visit hàng đầu tại TpHCM nhờ có được những ưu điểm nổi bật như sau:
    </p>
    <p>
    + <strong>In trực tiếp</strong> không qua trung gian nào nên giá in card visit rẻ nhất nhì toàn Quốc.
    </p>
    <p>
    + Công nghệ <strong>in Offset</strong> hiện đại chạy bài in name card bằng máy lớn độ phủ màu đạt 100% khổ in.
    </p>
    <p>
    + Kỹ thuật ghép bài tiên tiến nhất, 1 lần in với số lượng lớn danh thiếp, name card, card visit của nhiều khách hàng khác nhau trên 1 bảng in lớn nên giá sẽ giảm trực tiếp từ khâu xuất kẽm.
    </p>
    <p>
    + <strong>Thời gian</strong> in danh thiếp, name card, card visit nhanh (<strong> chỉ 1 ngày</strong> là có hàng nếu Quý khách có sẵn File in).
    </p>
    <p>
    + Trực tiếp gia công các khâu: <strong>cán màng, cắt, bế, vô hộp thành phẩm</strong> tại công ty => Giảm giá thành và thời gian chờ của sản phẩm. 
    </p>
    <p>
    + <strong>Chất lượng giấy tốt, đúng độ dày, độ lán bóng</strong> của giấy dùng chuyên in name card, card visit, danh thiếp.
    </p>
</div>
<br>
<!--bang bao gia-->
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ</h3>
<br>

<div class="container" style="font-size: 16pt;">
	<table class="bangbaogia">
        <tr>
          <th>Số Lượng</th>
          <th>Thành Tiền</th>
          <th>Thời Gian</th>
          <th>Quy Cách</th>
        </tr>
        <tr> 
            <td>5 Hộp</td>
            <td>140.000đ</td>
            <td>1 ngày</td>         
            <td rowspan="5" style="background-color: #ffffff; text-align: left;">
                <p>- In offset với hệ màu CMYK 4 màu 2 mặt</p>
                <p>- Khổ: 9.0 X 5.4 cm</p>
                <p>- Giấy Bristol 300 gsm (B300) hoặc C300 gsm</p>
                <p>- Cán màng mờ 2 mặt</p>
            </td>            
        </tr>
        <tr>
            <td>10 Hộp</td>
            <td>200.000đ</td>
            <td>1 ngày</td>  
        </tr>
        <tr>
            <td>20 Hộp</td>
            <td>300.000đ</td>
            <td>1 ngày</td>  
        </tr>
        <tr>
            <td>50 - 100 Hộp</td>
            <td>500.000 - 1.000.000đ</td>
            <td>1 ngày</td> 
        </tr>
      </table>
</div>
<br>
<div class="container" style="font-size: 13pt; color: #ff0000;">
    <ul style="padding: 20px; font-size: 14pt;">Ghi Chú :    
        <li>Card in nhanh: 100.000 vnđ/hộp (Cán màng thời gián 4 - 6h/Không cán màng 2h)</li>
        <li>Card giấy mỹ thuật: 200.000 vnđ/hộp (Tùy theo loại giấy)</li>
        <li>Phí thiết kế: 50.000 vnđ/mẫu</li>
        <li>Phí vận chuyển: 50.000 vnđ/lượt (KV ngoại thành + 10.000 vnđ)</li>
        <li>Card bế: 450.000 vnđ</li>
        <li style="font-size: 14pt; color: #ff0000;"><strong>Bảng giá trên chưa bao gồm VAT 10% </strong></li>
    </ul>
</div>
<h6 class="container" style="color: #ff0000;">Nếu Quý khách là công ty in, công ty quảng cáo, tiệm photocoppy, dịch vụ in ấn, vui lòng thông báo cho chúng tôi biết để có giá ưu đãi cho đại lý tốt nhất !</h6>
<br>

<div class="container" style="font-size: 13pt;">
    
    <div>
        <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif"> Quý khách đã có File in <strong>name card</strong> => Gửi ngay cho chúng tôi qua mail: <strong style="color: #5e8ef8;">huynhduychu@gmail.com</strong> để nhận được báo giá nhanh chóng.
    </div>
    <div>
        <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif"> Quý khách chưa có File in <strong>name card</strong> => Không sao! chúng tôi sẽ thiết kế file in và quý khách sẽ nhận ngay báo giá khi chúng tôi biết số lượng Quý khách cần in.
    </div>
</div>

<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">NHỮNG CÂU HỎI THƯỜNG GẶP</h3>
<br>


<table class="container" style="font-size: 14pt;">
    <div class="cauhoi">
        <tr>  
            <td>Giá name card tính như thế nào</td>
            <td>Giá sẽ phụ thuộc vào số lượng hộp và bao nhiêu tên cần in nên sẽ có giá khác nhau, ngoài những quy cách chuẩn có trên bảng giá bên trên chúng tôi sẽ báo giá trực tiếp cho khách hàng nếu có yêu cầu về quy cách in.</td>     
        </tr>
        <tr>
            <td >Giấy in name card là loại giấy nào?</td>
            <td >Loại giấy chuyên dụng được nhiều khách hàng chọn nhất là giấy Coucher 300gsm (Bảng giá in card bên trên). Ngoài ra chúng tôi còn có catalogue giấy mỹ thuật dùng để in name card cao cấp</td>        
        </tr>
        <tr>
            <td>In màu sắc sẽ như thế nào?</td>
            <td>Đặc thù trong in offset là ghép bài in nên độ chênh lệch màu sẽ có, với tỉ lệ chấp nhận được là 9/10 so với file gốc. Màu sắc hiển thị trên màng hình sẽ tương đối khác so với màu sắc thực tế do màu sắc được trợ sáng từ màng hình.</td>        
        </tr>
        <tr>
            <td>Kích thước name card thành phẩm?</td>
            <td>Thành phẩm sẽ cắt mằng máy cắt công nghiệp nên sẽ có sai số từ +/- 1 –> 2mm so với kích thước file in. Kích thước 1 name card chuẩn 90 x 54 mm.
        </td>        
        </tr>
        <tr>
            <td>File như thế nào in name card mới đẹp?</td>
            <td>Để chất lượng in name card được đẹp nhất phải dùng file gốc vecter để in như: AI, CDR, PDF,… mới cho ra được thành phẩm sắc nét và màu chuẩn nhất. Có khách hỏi rằng chỉ có tấm hình có nhận in được không? Với file là định dạng file hình như: PSD, JPG, PNG,… phải có độ phân giải từ 300dpi mới in được.</td>
        </tr>
        <tr>
            <td>Thời gian in lâu không?</td>
            <td>Với những loại như tờ rơi, name card, tag treo in sẽ nhanh hơn do nhu cầu nhiều nên thời gian có hàng rất nhanh chỉ từ 24 – 48 giờ là có hàng. Với những loại như túi giấy, bao thư, nhãn decal, folder,… thời gian có hàng sẽ phụ thuộc vào bài ghép và gia công bế dán nên trung bình từ 3 – 7 ngày mới có hàng.</td>        
        </tr>
        <tr>
            <td>Giao hàng như thế nào?</td>
            <td>Với những đơn hàng từ 1.000.000đ trong nội thành công ty sẽ hổ trợ giao miễn phí, nếu dưới 1tr sẽ được tính phí ship hổ trợ là 20.000đ, những Quận xa sẽ có giá ship từ 30.000đ – 50.000đ. hàng sẽ được gia kết hợp theo tuyến đường nên khách cần gấp có thể chọn dịch vụ giao hang kết hợp như: goviet, grap, GHTK, grap trong ngày,….</td>        
        </tr>
        <tr>
            <td>Chế độ bảo hành, đổi trả với những sản phẩm lổi như thế nào?</td>
            <td>
                <p style="color: #ff0000;">Khi phát hiện lỗi nếu do nhà sản xuất công ty chúng tôi sẽ hoàn tiền đơn hàng lại 100% hoặc in lại nếu khách hàng đồng ý.</p>
                <p>Nếu lỗi do khách hàng cung cấp sai file hoặc duyệt in không để ý dẫn đến sai chính tả, nội dung,… Công ty sẽ không chịu trách nhiệm. Với những khách hàng có nhu cầu sửa file in lại công ty sẽ thương lượng hổ trợ khách giá in tốt nhất có thể.</p>
            </td>        
        </tr>
    </div>
</table>


<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY CÁCH IN NAME CARD, CARD VISIT, DANH THIẾP:</h3>

<br>
<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody class="quycach">
        <tr>
            <td>Công nghệ in</td>
            <td>In name card, in card visit, in danh thiếp bằng máy offset công nghiệp 1 mặt, 2 mặt</td>
        </tr>
        <tr>
            <td>Màu in</td>
            <td>Không giới hạn màu sắc</td>
        </tr>
        <tr>
            <td>Kích thước</td>
            <td>90 x 54 mm</td>
        </tr>
        <tr>
            <td>Số lượng</td>
            <td>Theo yêu cầu, tối thiểu 200 card</td>
        </tr>
        <tr>
            <td>Thời gian</td>
            <td>1 ngày có hàng</td>
        </tr>
        <tr>
            <td>Loại giấy</td>
            <td>Giấy Bristol 300gsm (B300) hoặc Couche 300gsm (C300)</td>
        </tr>
        <tr>
            <td>Cán màng</td>
            <td>Thường sẽ cán 2 mặt hoặc sẽ không cán nếu khách hàng yêu cầu</td>
        </tr>
        <tr>
            <td>Cắt, cấn, bế</td>
            <td>Theo yêu cầu</td>
        </tr>
    </tbody>
</table>

<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY TRÌNH ĐẶT IN NAME CARD, DANH THIẾP:</h3>

<br>

<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody class="quytrinh">
        <tr>
            <td>1</td>
            <td>Nhận File in name card  trực tiếp hoặc qua Email.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Xem File báo giá in name card qua mail hoặc gọi trực tiếp.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Chuyển khoản cọc 50% đơn hàng.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Tiến hành in name card</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Giao hàng tận nơi thanh toán 50% số tiền còn lại.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Khách hàng ở các tỉnh, thành khác => chuyển khoản 100% tiền in công ty chúng tôi sẽ gửi chành xe, chuyển phát nhanh, nhà ga,… về tận nơi.</td>
        </tr>        
    </tbody>
</table>

<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">GIÁ BO GÓC NAME CARD:</h3>
<br>


<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody class="bogoc">
        <tr>
            <td rowspan="2" >Giá gia công bo góc</td>
            <td>2 Hộp</td>
            <td>5 Hộp</td>
            <td>10 Hộp</td>
            <td>20 Hộp</td>
        </tr>
        <tr>            
            <td>10.000đ</td>
            <td>20.000đ</td>
            <td>35.000đ</td>
            <td>60.000đ</td>
        </tr>                       
    </tbody>
</table>

<br>
<br>
<h3 class="container alert alert-primary" style="color: #0000ff;">MẪU BO GÓC</h3>
<br>
<div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/34.jpg" title="in danh thiep" target="_selt">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/36.png" title="in danh thiep" target="_selt">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/33.jpg" title="in danh thiep" target="_selt">   
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/50.jpg" title="in danh thiep" target="_selt">   
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/39.jpg" title="in danh thiep" target="_selt">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/44.jpg" title="in danh thiep" target="_selt">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/35.jpg" title="in danh thiep" target="_selt">   
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/55.jpg" title="in danh thiep" target="_selt">   
      </div>
    </div>
  </div>



  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Threads</li>
                  <li>Category: Illustration</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>