<link rel="canonical" href="https://inansongviet.com/danh-thiep"/>
<!-- image and line in header -->
<div style="display: block;margin: auto;">
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img style="width: 100%;" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<!-- intro page and slogan -->
<div class="col-lg-12 text-center" style="padding-top: 100px; padding-bottom: 50px;">
    <h1 style="color: #0000ff;">IN NAME CARD – CARD VISIT – IN DANH THIẾP</h1>
    <!--<h3>Chất lượng làm nên thương hiệu</h3>-->
    <hr class="line-yellow" style="border-color: #fed136; border-width: .2rem; max-width: 3.25rem;">
</div>
<!-- coppy from vinhPhat-->
<div class="container" style="font-size: 14pt; text-align: justify;">
    <p>
        <strong>Công ty thiết kế in ấn Song Việt</strong> chuyên nhận <strong>in name card, in card visit, in danh thiếp</strong> trên nhiều loại giấy và kích thước đa dạng theo yêu cầu khách hàng trên toàn quốc.        
    </p>
    <p>
        Công nghệ <strong>in name card</strong> bằng máy <strong>in offset</strong> hiện đại nhất không giới hạn về màu sắc, hình ảnh cần hiển thị, công suất lớn, tốc độ in card visit nhanh sẽ đáp ứng được tất cả các yêu cầu của khách hàng.
    </p>
    <p>
        Là công ty<strong> in card visit</strong> hàng đầu trên thị trường chúng tôi chủ động được trong tất cả các khâu sản xuất giúp giảm giá thành sản phẩm trực tiếp từ khâu đầu tiên nên giá <strong>in name card </strong>tại <strong>Song Việt</strong> luôn rẻ hơn so với trên thị trường từ 10 – 20%.

        Rẻ hơn thị trường là vậy nhưng chất lượng giấy, độ dày của giấy và số lượng luôn luôn được đảm bảo và cũng là tiêu chí phát triển của công ty: <i>“nhanh – rẻ – đẹp – chất lượng”</i>
    </p>
    
</div>
<br>

<!-- intro page -->

<!-- img for product in paper -->
<div class="container">
    <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/danh-thiep']" class="d-block mb-4 h-100" title="in name card" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/1.jpg" alt="https://inansongviet.com" title="In Name Card">
            </a> 
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/danh-thiep']" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/2.jpg" alt="https://inansongviet.com" title="In Danh Thiếp">
            </a>            
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/danh-thiep']" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/3.jpg" alt="https://inansongviet.com" title="In Danh Thiếp">
            </a>            
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/danh-thiep']" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/4.jpg" alt="https://inansongviet.com" title="In Danh Thiếp">
            </a>            
        </div>
        <div class="col-lg-3 col-md-4 col-6 d-block">
            <a [routerLink]="['/danh-thiep']" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/5.jpg" alt="https://inansongviet.com" title="In Danh Thiếp">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/danh-thiep']" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/6.jpg" alt="https://inansongviet.com" title="In Danh Thiếp">
            </a> 
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/danh-thiep']" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/7.jpg" alt="https://inansongviet.com" title="In Danh Thiếp">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/danh-thiep']" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/8.jpg" alt="https://inansongviet.com" title="In Danh Thiếp">               
            </a> 
        </div>
        <div class="col-lg-3 col-md-4 col-6 d-block">
            <a [routerLink]="['/danh-thiep']" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/9.jpg" alt="https://inansongviet.com" title="In Danh Thiếp">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/danh-thiep']" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/10.jpg" alt="https://inansongviet.com" title="In Danh Thiếp">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/danh-thiep']" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/11.jpg" alt="https://inansongviet.com" title="In Danh Thiếp">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/danh-thiep']" class="d-block mb-4 h-100" title="in danh thiep" target="_self">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/12.jpg" alt="https://inansongviet.com" title="In Danh Thiếp">
            </a>
        </div>
    </div>    
</div>

<br>
<div class="container" style="font-size: 14pt;">👉Tham khảo thêm nhiều mẫu trong những bài viết tại Fanpage: <a href="facebook.com/inansongviet">Facebook.com/inansongviet</a></div>


<!-- /.container -->

<br>
<div class="container" style="font-size: 14pt; text-align: justify;">
    <p>
        <strong>Card visit, name card, danh thiếp</strong> là một trong các ấn phẩm rất quan trọng nhất của bộ nhận diện thương hiệu của công ty, doanh nghiệp.
    </p>
    <p>
        Vì <strong>card visit, name card, danh thiếp</strong> còn là nơi lưu trữ thông tin liên hệ của một cá nhân đại diện công ty khi giao dịch với đối tác, khách hàng của mình.
    </p>
    <p>
        Để có <strong>card visit</strong> đẹp, chuyên nghiệp mang lại hiệu quả cao trong giao tiếp thì rất cần đến một công ty in <Strong>card visit</Strong> chuyên nghiệp, kinh nghiệm và thiết kế giỏi nhất.
    </p>
    <br>
</div>

<!-- IMAGE MACHELINE OFFSET-->
<div class="container">
    <img class="container" src="../../assets/imgs/home/boder/11.jpg" alt="https://inansongviet.com" title="Công Ty Thiết Kế & Quảng Cáo Sóng Việt">
</div>
<br>

<div class="container" style="font-size: 14pt; text-align: justify;">
    <p>
    Công ty in <strong>Song Việt</strong> được khách hàng đánh giá là địa chỉ in card visit hàng đầu tại TpHCM nhờ có được những ưu điểm nổi bật như sau:
    </p>
    <p>
    + <strong>In trực tiếp</strong> không qua trung gian nào nên giá in card visit rẻ nhất nhì toàn Quốc.
    </p>
    <p>
    + Công nghệ <strong>in Offset</strong> hiện đại chạy bài in name card bằng máy lớn độ phủ màu đạt 100% khổ in.
    </p>
    <p>
    + Kỹ thuật ghép bài tiên tiến nhất, 1 lần in với số lượng lớn danh thiếp, name card, card visit của nhiều khách hàng khác nhau trên 1 bảng in lớn nên giá sẽ giảm trực tiếp từ khâu xuất kẽm.
    </p>
    <p>
    + <strong>Thời gian</strong> in danh thiếp, name card, card visit nhanh (<strong> chỉ 1 ngày</strong> là có hàng nếu Quý khách có sẵn File in).
    </p>
    <p>
    + Trực tiếp gia công các khâu: <strong>cán màng, cắt, bế, vô hộp thành phẩm</strong> tại công ty => Giảm giá thành và thời gian chờ của sản phẩm. 
    </p>
    <p>
    + <strong>Chất lượng giấy tốt, đúng độ dày, độ lán bóng</strong> của giấy dùng chuyên in name card, card visit, danh thiếp.
    </p>
</div>
<br><br>
<!--bang bao gia-->
<!-- Giấu bảng giá -->
<!--
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ NAME CARD IN GIẤY COUCHE ĐỊNH LƯỢNG 300(C300)</h3>
<br>


<div class="container" style="font-size: 16pt;">
	<table class="bangbaogia" style="width: 100%;">
        <tr style="color: #fed136">
          <th>Số Lượng</th>
          <th>Đơn Giá</th>
          <th>Thành Tiền</th>         
          <th>Quy Cách</th>
        </tr>
        <tr>
            <td><strong><i>5 Hộp</i></strong></td>
            <td><strong><i>30.000</i></strong></td>
            <td><strong><i>150.000 đ</i></strong></td>                   
            <td rowspan="5" style="background-color: #ffffff; text-align: left;"><i>
                <p>- In offset với hệ màu CMYK 4 màu 2 mặt</p>
                <p>- Giấy Bristol 300 gsm (B300) hoặc Couche (C300)</p>
                <p>- Kích thước: 5.4 x 8.8 cm, hoặc kích thước theo yêu cầu</p>                
                <p>- Cán màng mờ 2 mặt</p>
                <p>- Vô Hộp Nhựa Thành Phẩm</p>
                </i>
            </td> 
                       
        </tr>
        <tr>
            <td><strong><i>10 Hộp</i></strong></td>
            <td><strong><i>25.000</i></strong></td>
            <td><strong><i>250.000 đ</i></strong></td> 
        </tr>
        <tr>
            <td><strong><i>20 Hộp</i></strong></td>
            <td><strong><i>22.500</i></strong></td>
            <td><strong><i>450.000 đ</i></strong></td>  
        </tr>
        <tr>
            <td><strong><i>50 Hộp</i></strong></td>
            <td><strong><i>18.000</i></strong></td>
            <td><strong><i>900.000 đ</i></strong></td> 
        </tr>
        <tr>
            <td><strong><i>100 Hộp</i></strong></td>
            <td><strong><i>15.000</i></strong></td>
            <td><strong><i>1.500.000 đ</i></strong></td>
        </tr>
      </table>
</div>
<br><br><br>
-->


<!--bang bao gia Đại Ly Cấp 1-->
<!--
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ NAME CARD DÀNH CHO ĐẠI LÝ</h3>
<br>

<div class="container" style="font-size: 16pt;">
	<table class="bangbaogia" style="width: 100%;">
        <tr style="color: #fed136">
          <th>Số Lượng</th>
          <th>Đơn Giá</th>
          <th>Thành Tiền</th>         
          <th>Quy Cách</th>
        </tr>
        <tr>
            <td><strong><i>5 Hộp</i></strong></td>
            <td><strong><i>18.000</i></strong></td>
            <td><strong><i>90.000 đ</i></strong></td>                   
            <td rowspan="5" style="background-color: #ffffff; text-align: left;"><i>
                <p>- In offset với hệ màu CMYK 4 màu 2 mặt</p>
                <p>- Giấy Couche (C300)</p>
                <p>- Kích thước: 5.4 x 8.8 cm, hoặc kích thước theo yêu cầu</p>                
                <p>- Cán màng mờ 2 mặt</p>
                <p>- Vô Hộp Nhựa Thành Phẩm</p>
                </i>
            </td> 
                       
        </tr>
        <tr>
            <td><strong><i>10 Hộp</i></strong></td>
            <td><strong><i>12.000</i></strong></td>
            <td><strong><i>120.000 đ</i></strong></td> 
        </tr>
        <tr>
            <td><strong><i>20 Hộp</i></strong></td>
            <td><strong><i>11.000</i></strong></td>
            <td><strong><i>220.000 đ</i></strong></td>  
        </tr>
        <tr>
            <td><strong><i>50 Hộp</i></strong></td>
            <td><strong><i>10.800</i></strong></td>
            <td><strong><i>540.000 đ</i></strong></td> 
        </tr>
        <tr>
            <td><strong><i>100 Hộp</i></strong></td>
            <td><strong><i>10.000</i></strong></td>
            <td><strong><i>1.000.000 đ</i></strong></td>
        </tr>
      </table>
</div>


<br><br><br>
-->

<!--bang bao gia Đại Ly cấp 2 -->
<!--
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ NAME CARD DÀNH CHO ĐẠI LÝ</h3>
<br>

<div class="container" style="font-size: 16pt;">
	<table class="bangbaogia" style="width: 100%;">
        <tr style="color: #fed136">
          <th>Số Lượng</th>
          <th>Đơn Giá</th>
          <th>Thành Tiền</th>         
          <th>Quy Cách</th>
        </tr>
        <tr>
            <td><strong><i>5 Hộp</i></strong></td>
            <td><strong><i>20.000</i></strong></td>
            <td><strong><i>100.000 đ</i></strong></td>                   
            <td rowspan="5" style="background-color: #ffffff; text-align: left;"><i>
                <p>- In offset với hệ màu CMYK 4 màu 2 mặt</p>
                <p>- Giấy Couche (C300)</p>
                <p>- Kích thước: 5.4 x 8.8 cm, hoặc kích thước theo yêu cầu</p>                
                <p>- Cán màng mờ 2 mặt</p>
                <p>- Vô Hộp Nhựa Thành Phẩm</p>
                </i>
            </td> 
                       
        </tr>
        <tr>
            <td><strong><i>10 Hộp</i></strong></td>
            <td><strong><i>15.000</i></strong></td>
            <td><strong><i>150.000 đ</i></strong></td> 
        </tr>
        <tr>
            <td><strong><i>20 Hộp</i></strong></td>
            <td><strong><i>15.000</i></strong></td>
            <td><strong><i>300.000 đ</i></strong></td>  
        </tr>
        <tr>
            <td><strong><i>50 Hộp</i></strong></td>
            <td><strong><i>12.000</i></strong></td>
            <td><strong><i>600.000 đ</i></strong></td> 
        </tr>
        <tr>
            <td><strong><i>100 Hộp</i></strong></td>
            <td><strong><i>11.000</i></strong></td>
            <td><strong><i>1.100.000 đ</i></strong></td>
        </tr>
      </table>
</div>
<br><br><br>
-->

<!--BẢNG BÁO GIÁ IN 2 MẶT GIẤY COUCHE (C300) KÍCH THƯỚC 10 * 15cm -->
<!--

<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ IN 2 MẶT GIẤY COUCHE (C300) KÍCH THƯỚC 10 * 15cm</h3>
<br>

<div class="container" style="font-size: 16pt;">
	<table class="bangbaogia" style="width: 100%;">
        <tr style="color: #fed136">
          <th>Số Lượng</th>
          <th>Đơn Giá</th>
          <th>Thành Tiền</th>         
          <th>Quy Cách</th>
        </tr>
        <tr>
            <td><strong><i>500</i></strong></td>
            <td><strong><i>900</i></strong></td>
            <td><strong><i>450.000 đ</i></strong></td>                   
            <td rowspan="5" style="background-color: #ffffff; text-align: left;"><i>
                <p>- In offset với hệ màu CMYK 4 màu 2 mặt</p>
                <p>- Couche định lượng 300 (C300)</p>
                <p>- Kích thước: 10 * 15 cm</p>                
                <p>- Cán màng mờ 2 mặt</p>                
                </i>
            </td>                        
        </tr>
        <tr>
            <td><strong><i>1000</i></strong></td>
            <td><strong><i>650</i></strong></td>
            <td><strong><i>650.000 đ</i></strong></td> 
        </tr>
        <tr>
            <td><strong><i>2000</i></strong></td>
            <td><strong><i>550</i></strong></td>
            <td><strong><i>1.100.000 đ</i></strong></td>  
        </tr>
        <tr>
            <td><strong><i>5000</i></strong></td>
            <td><strong><i>400</i></strong></td>
            <td><strong><i>2.000.000 đ</i></strong></td> 
        </tr>
        <tr>
            <td><strong><i>10.000</i></strong></td>
            <td><strong><i>350</i></strong></td>
            <td><strong><i>3.500.000 đ</i></strong></td>
        </tr>
      </table>
</div>
<br><br><br>
-->

<!--BẢNG BÁO GIÁ TAG GIẤY COUCHE (C300) -->
<!--
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ TAG GIẤY COUCHE (C300)</h3>
<br>

<div class="container" style="font-size: 16pt;">
	<table class="bangbaogia" style="width: 100%;">
        <tr style="color: #fed136">
          <th>Số Lượng</th>
          <th>Đơn Giá</th>
          <th>Thành Tiền</th>         
          <th>Quy Cách</th>
        </tr>
        <tr>
            <td><strong><i>500</i></strong></td>
            <td><strong><i>400</i></strong></td>
            <td><strong><i>200.000 đ</i></strong></td>                   
            <td rowspan="5" style="background-color: #ffffff; text-align: left;"><i>
                <p>- In offset với hệ màu CMYK 4 màu 2 mặt</p>
                <p>- Couche (C300) hoặc giấy Bristol 300 gsm (B300)</p>
                <p>- Kích thước: 5 x 9 cm, hoặc kích thước theo yêu cầu</p>                
                <p>- Cán màng mờ 2 mặt</p>                
                </i>
            </td> 
                       
        </tr>
        <tr>
            <td><strong><i>1000</i></strong></td>
            <td><strong><i>300</i></strong></td>
            <td><strong><i>300.000 đ</i></strong></td> 
        </tr>
        <tr>
            <td><strong><i>2000</i></strong></td>
            <td><strong><i>275</i></strong></td>
            <td><strong><i>550.000 đ</i></strong></td>  
        </tr>
        <tr>
            <td><strong><i>5000</i></strong></td>
            <td><strong><i>230</i></strong></td>
            <td><strong><i>1.150.000 đ</i></strong></td> 
        </tr>
        <tr>
            <td><strong><i>10.000</i></strong></td>
            <td><strong><i>200</i></strong></td>
            <td><strong><i>2.000.000 đ</i></strong></td>
        </tr>
      </table>
</div>
<br><br><br>
-->


<!--BẢNG BÁO GIÁ TAG GIẤY COUCHE (C300) -->
<!--
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ TAG DOUBLE GIẤY COUCHE (C300)</h3>
<br>

<div class="container" style="font-size: 16pt;">
	<table class="bangbaogia" style="width: 100%;">
        <tr style="color: #fed136">
          <th>Số Lượng</th>
          <th>Đơn Giá</th>
          <th>Thành Tiền</th>         
          <th>Quy Cách</th>
        </tr>
        <tr>
            <td><strong><i>500</i></strong></td>
            <td><strong><i>900</i></strong></td>
            <td><strong><i>450.000 đ</i></strong></td>                   
            <td rowspan="5" style="background-color: #ffffff; text-align: left;"><i>
                <p>- In offset với hệ màu CMYK 4 màu 2 mặt</p>
                <p>- Couche (C300) hoặc giấy Bristol 300 gsm (B300)</p>
                <p>- Kích thước: 5 x 9 cm, hoặc kích thước theo yêu cầu</p>                
                <p>- Cán màng mờ 2 mặt</p>                
                </i>
            </td> 
                       
        </tr>
        <tr>
            <td><strong><i>1000</i></strong></td>
            <td><strong><i>850</i></strong></td>
            <td><strong><i>850.000 đ</i></strong></td> 
        </tr>
        <tr>
            <td><strong><i>2000</i></strong></td>
            <td><strong><i>750</i></strong></td>
            <td><strong><i>1.500.000 đ</i></strong></td>  
        </tr>
        <tr>
            <td><strong><i>5000</i></strong></td>
            <td><strong><i>600</i></strong></td>
            <td><strong><i>3.000.000 đ</i></strong></td> 
        </tr>
        <tr>
            <td><strong><i>10.000</i></strong></td>
            <td><strong><i>400</i></strong></td>
            <td><strong><i>4.00.000 đ</i></strong></td>
        </tr>
      </table>
</div>
<br><br><br>
-->
<!--
            bang bao gia Đại Ly Bìa Folder
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ BÌA FOLDER (BÌA SƠ MI), GIẤY C300</h3>
<br>

<div class="container" style="font-size: 16pt;">
	<table class="bangbaogia" style="width: 100%;">
        <tr style="color: #fed136">
          <th>Số Lượng</th>
          <th>Cán màng 1 mặt</th>     
          <th>cán màng 2 mặt</th>    
          <th>Quy Cách</th>
        </tr>
        <tr>
             500đ 
            <td><strong><i>500</i></strong></td>           
            <td><strong><i>5.300 đ</i></strong></td>  
            <td><strong><i>5.700 đ</i></strong></td>                   
            <td rowspan="5" style="background-color: #ffffff; text-align: left;"><i>
                
                <p>- Giấy Couche (C300)</p>
                <p>- Kích thước: 21.8* 31* 7cm, </p>                                
                <p>- THỜI GIAN CÓ HÀNG 2 NGÀY</p>
                
                </i>
            </td> 
                       
        </tr>
        <tr>
             400đ 
            <td><strong><i>1000</i></strong></td>            
            <td><strong><i>3.800 đ</i></strong></td> 
            <td><strong><i>4.000 đ</i></strong></td> 

        </tr>
        <tr>
             400đ 
            <td><strong><i>2000</i></strong></td>            
            <td><strong><i>3.600 đ</i></strong></td>  
            <td><strong><i>3.800 đ</i></strong></td> 

        </tr>
        <tr>
             300đ 
            <td><strong><i>3000</i></strong></td>            
            <td><strong><i>3.400 đ</i></strong></td> 
            <td><strong><i>3.600 đ</i></strong></td> 

        </tr>
        <tr>
             200đ 
            <td><strong><i>5000</i></strong></td>            
            <td><strong><i>3.200 đ</i></strong></td>
            <td><strong><i>3.400 đ</i></strong></td> 

        </tr>
      </table>
</div>
<br><br>
-->
<!-- Giấu bảng giá -->
<!--
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ NAME CARD IN GIẤY MỸ THUẬT ĐỊNH LƯỢNG GIẤY 300</h3>
<br>

<div class="container" style="font-size: 16pt;">
	<table class="bangbaogia" style="width: 100%;">
        <tr style="color: #fed136;">
          <th>Số Lượng</th>
          <th>Đơn Giá</th>
          <th>Thành Tiền</th>
          <th>Quy Cách</th>
        </tr>
        <tr> 
            <td><Strong><i>2 hộp</i></Strong></td>
            <td><strong><i>250.000</i></strong></td>
            <td><strong><i>500.000 đ</i></strong></td>         
            <td rowspan="5" style="background-color: #ffffff; text-align: left;">
                <i>               
                    <p>- In Bằng Kỹ Thuật In Nhanh</p>
                    <p>- Giấy Mỹ Thuật KHÁCH HÀNG CHỌN LOẠI GIẤY</p>
                    <p>- Kích Thước: 5.5 X 8.8 cm, hoặc kích thước theo yêu cầu</p>                
                    <p>- Cán màng hoặc không cán màng theo yêu cầu</p>
                    <p>- Vô Hộp Mica Thành Phẩm</p>
                </i>
            </td>            
        </tr>
        <tr>
            <td><strong><i>5 Hộp</i></strong></td>
            <td><strong><i>200.000</i></strong></td>
            <td><strong><i>1.000.000 đ</i></strong></td>  
        </tr>
        <tr>
            <td><strong><i>10 Hộp</i></strong></td>
            <td><strong><i>180.000</i></strong></td>
            <td><strong><i>1.800.000 đ</i></strong></td>  
        </tr>        
      </table>
</div>


<br>
<div class="container" style="font-size: 13pt; color: #ff0000;">
    <ul style="padding: 20px; font-size: 14pt; color: #0000ff;"><u>Ghi Chú :</u>   
        <li>1 hộp có 100 card, phí thiết kế 70k/ mẫu và chỉ tính cho lần in đầu tiên.</li> 
        <li>Có hàng trong ngày + 100.000đ</li>
        <li>Card giấy mỹ thuật + ép kim, dập nổi, dập chìm, ép nhũ(vàng, bạc): 250.000 vnđ/hộp (Tùy theo loại giấy)</li>
        <li>Card bế (theo hình yêu cầu) ngoài tiền in + thêm 300k( với số lượng <=3000)</li>
        <li>Phí bo góc 4 GÓC 50k/ 1000  tấm card </li>
        <li style="font-size: 14pt; color: #ff0000;"><strong>Bảng giá trên chưa bao gồm VAT 10% </strong></li>
    </ul>
</div>
-->
<!-- video -->
<div class="container">
    <video width="770" height="443" controls>
        <source src="../../assets/imgs/home/product/namecard/video/namecard-stone.mp4" type="video/mp4">    
    </video>
</div>
<!-- video -->
<br>

<div class="container" style="font-size: 13pt;">
    
    <div>
        <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif"> Quý khách <strong>ĐÃ CÓ</strong> File in name card    => Gửi ngay cho chúng tôi qua mail: <strong style="color: #5e8ef8;">inansongviet@gmail.com</strong>
    </div>
    <div>
        <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif"> Quý khách <strong>CHƯA CÓ</strong> File in name card  => SONG VIỆT sẽ thiết kế theo yêu cầu của khách hàng <a href="https://inansongviet.com" target="_blank" style="margin-left: 22px;">Đặt Hàng Online</a>
    </div>    
</div>

<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">NHỮNG CÂU HỎI THƯỜNG GẶP</h3>
<br>


<table class="container" style="font-size: 14pt;">
    <div class="cauhoi">
        <tr>  
            <td>Giá name card tính như thế nào</td>
            <td>Giá sẽ phụ thuộc vào kích thước, số lượng và loại giấy cần in nên sẽ có giá khác nhau, ngoài những quy cách chuẩn có trên bảng giá bên trên quý khách sẽ được báo giá trực tiếp nếu quy chuẩn theo yêu cầu</td>     
        </tr>
        <tr>
            <td >Giấy in name card là loại giấy nào?</td>
            <td >Loại giấy chuyên dụng được nhiều khách hàng chọn nhất là giấy Coucher 300gsm . Ngoài ra chúng tôi còn có catalogue giấy mỹ thuật dùng để in name card cao cấp</td>        
        </tr>
        <tr>
            <td>In màu sắc sẽ như thế nào?</td>
            <td>Đặc thù trong in offset là ghép bài in nên độ chênh lệch màu sẽ có, với tỉ lệ chấp nhận được là 9/10 so với file gốc. Màu sắc hiển thị trên màng hình sẽ tương đối khác so với màu sắc thực tế do màu sắc được trợ sáng từ màng hình.</td>        
        </tr>
        <tr>
            <td>Kích thước name card thành phẩm?</td>
            <td>Thành phẩm sẽ cắt mằng máy cắt công nghiệp nên sẽ có sai số từ +/- 1 –> 2mm so với kích thước file in. Kích thước 1 name card chuẩn 5.4 x 8.8 cm.
        </td>        
        </tr>
        <tr>
            <td>File như thế nào in name card mới đẹp?</td>
            <td>Để chất lượng in name card được đẹp nhất phải dùng file gốc vecter để in như: AI, CDR, PDF,… mới cho ra được thành phẩm sắc nét và màu chuẩn nhất. Có khách hỏi rằng chỉ có tấm hình có nhận in được không ? Với file là định dạng file hình như: PSD, JPG, PNG,… Song Việt sẽ hỗ trợ dựng lại file in để in sắc nét hơn với giá 50k/1 mẫu</td>
        </tr>
        <tr>
            <td>Thời gian in lâu không?</td>
            <td>Với những loại như tờ rơi, name card, tag treo in sẽ nhanh hơn do nhu cầu nhiều nên thời gian có hàng rất nhanh chỉ từ 24 – 48 giờ là có hàng. Với những loại như túi giấy, bao thư, nhãn decal, folder,… thời gian có hàng sẽ phụ thuộc vào bài ghép và gia công bế dán nên trung bình từ 3 – 7 ngày mới có hàng.</td>        
        </tr>
        <tr>
            <td>Giao hàng như thế nào?</td>
            <td>Đối với khách trong nội thành có thể đến trực tiếp văn phòng để nhận hàng hoặc book Grab và Ahamove <br>
                Đối với khách ở tỉnh Quý Khách cung cấp sdt và địa chỉ nhận hàng. Song Việt sẽ hỗ trợ giao hàng thông qua Giao Hàng Tiết Kiệm (GHTK)
            </td>        
        </tr>
        <tr>
            <td>Chế độ bảo hành, đổi trả với những sản phẩm lổi như thế nào?</td>
            <td>
                <p style="color: #ff0000;">Khi phát hiện lỗi nếu do nhà sản xuất công ty chúng tôi sẽ hoàn tiền đơn hàng lại 100% hoặc in lại nếu khách hàng đồng ý.</p>
                <p>Nếu lỗi do khách hàng cung cấp sai file hoặc duyệt in không để ý dẫn đến sai chính tả, nội dung,… Công ty sẽ không chịu trách nhiệm. Với những khách hàng có nhu cầu sửa file in lại công ty sẽ thương lượng hổ trợ khách giá in tốt nhất có thể.</p>
            </td>        
        </tr>
    </div>
</table>


<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY CÁCH IN NAME CARD, CARD VISIT, DANH THIẾP:</h3>

<br>
<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody class="quycach">
        <tr>
            <td>Công nghệ in</td>
            <td>In name card, in card visit, in danh thiếp bằng máy offset công nghiệp 1 mặt, 2 mặt</td>
        </tr>
        <tr>
            <td>Màu in</td>
            <td>Không giới hạn màu sắc</td>
        </tr>
        <tr>
            <td>Kích thước</td>
            <td>5.4 x 8.8 cm hoặc kích thước theo yêu cầu đối với Voucher, Thank You Card,...</td>
        </tr>
        <tr>
            <td>Số lượng</td>
            <td>Theo yêu cầu, tối thiểu 500 card đối với giấy Couche</td>
        </tr>
        <tr>
            <td>Thời gian</td>
            <td>2-3 ngày đối với giấy couche, 1 ngày đối với giấy mỹ thuật</td>
        </tr>
        <tr>
            <td>Loại giấy</td>
            <td>Couche 300gsm (C300), hoặc giấy Mỹ Thuật định lượng 300</td>
        </tr>
        <tr>
            <td>Cán màng</td>
            <td>Thường sẽ cán 2 mặt hoặc sẽ không cán nếu khách hàng yêu cầu</td>
        </tr>
        <tr>
            <td>Cắt, Cấn, Bế</td>
            <td>Theo yêu cầu</td>
        </tr>
    </tbody>
</table>

<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY TRÌNH ĐẶT IN NAME CARD, DANH THIẾP:</h3>

<br>

<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody class="quytrinh">
        <tr>
            <td>1</td>
            <td>Xem File báo giá name card</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Gửi file in trực tiếp hoặc gửi qua mail inansongviet@gmail.com.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Chuyển khoản cọc 50% đơn hàng.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Tiến hành in</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Giao hàng và nhận 50% số tiền còn lại.</td>
        </tr>         
    </tbody>
</table>

<br>
<br>
<!-- 
<h3 class="container alert alert-primary" style="color: #0000ff;">GIÁ BO GÓC NAME CARD:</h3>
<br> -->

<!-- 
<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody class="bogoc">
        <tr>
            <td rowspan="2" >BẢNG GIÁ GIA CÔNG BO GÓC</td>            
            <td>5 Hộp</td>
            <td>10 Hộp</td>
            <td>20 Hộp</td>
        </tr>
        <tr>            
            <td>30.000đ</td>
            <td>50.000đ</td>
            <td>100.000đ</td>
        </tr>                       
    </tbody>
</table>

<br>
<br> -->
<!-- 
<h3 class="container alert alert-primary" style="color: #0000ff;">MẪU BO GÓC</h3>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
           
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/in-name-card-400x300-34.jpg" title="in danh thiep" target="_selt">
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/in-name-card-400x300-36.jpg" title="in danh thiep" target="_selt">
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/in-name-card-400x300-33.jpg" title="in danh thiep" target="_selt">   
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/in-name-card-400x300-50.jpg" title="in danh thiep" target="_selt">   
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/in-name-card-400x300-39.jpg" title="in danh thiep" target="_selt">
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/in-name-card-400x300-44.jpg" title="in danh thiep" target="_selt">
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/in-name-card-400x300-35.jpg" title="in danh thiep" target="_selt">   
            </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/in-name-card-400x300-55.jpg" title="in danh thiep" target="_selt">   
        </div>
    </div>
  </div> -->



  <!-- Modal 1 -->
  <!-- <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                 Project Details Go Here 
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Date: January 2017</li>
                  <li>Client: Threads</li>
                  <li>Category: Illustration</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  
<br>
<br>

<h3 class="container" style="color: #ffffff; background-color: darkslategray;">Tin Tức Cập Nhật</h3>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-cao-cap">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/13.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Danh Thiếp Cao Cấp</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-cao-cap">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/14.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Danh Thiếp Ép Kim</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-cao-cap">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/15.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Danh Thiếp Bế Nổi</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-giay-kraft">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/16.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Danh Thiếp Bằng Giấy Kraft</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-shop-hoa">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/17.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Danh Thiếp cho shop Hoa</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-cao-cap">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/18.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Danh Thiếp Giấy Mỹ Thuật</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-bo-goc">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/19.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Danh Thiếp Bo Góc</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="danh-thiep-theo-kich-thuoc-khach-hang">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/20.jpg" title="in danh thiep" target="_selt" alt="https://inansongviet.com">
                <div  style="color: black; text-align: center;">Danh Thiếp Theo Kích Thước Khách Hàng</div>
            </a>
        </div>        
    </div>
</div>