<!-- image and line in header -->
<div>
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img class="imgs" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<!-- intro page and slogan -->
<div class="col-lg-12 text-center" style="padding-top: 100px; padding-bottom: 50px;">
    <h1 style="color: #0000ff;">IN BAO THƯ</h1>
    <!--<h3>Chất lượng làm nên thương hiệu</h3> -->
    <hr class="line-yellow" style="border-color: #fed136; border-width: .2rem; max-width: 3.25rem;">
</div>

<br>

<!-- intro page -->

<!-- img for product in paper -->
<div class="container">
    <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/1.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/2.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/3.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/4.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/5.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/6.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/7.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/8.jpg" alt="">               
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/9.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/10.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/11.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/baothu/12.jpg" alt="">
            </a>
        </div>
    </div>
</div>
<!-- /.container -->
<br>
<!--bang bao gia-->
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ IN BAO THƯ</h3>
<br>

<div class="container" style="font-size: 16pt;">
	<table class="bangbaogia">
        <tr class="alert alert-danger">
          <th rowspan="2">Loại Giấy</th>      
          <th rowspan="2">Số Lượng</th>      
          <th colspan="4">Đơn Giá</th>
        </tr>
        <tr class="alert alert-light" style="background-color: #fefefe; color: #7fbd00;">
            <td><p>Tiêu Đề A4</p> <p>Letter Head</p></td>
            <td>Bao Thư 12x22 cm</td>
            <td>Bao Thư 18x25 cm</td>
            <td>Bao Thư 25x35 cm</td>                                                                         
        </tr>
        <tr>
            <td rowspan="5">Fort 100</td>
            <td>1.000</td>
            <td>850</td> 
            <td>1350</td>      
            <td>1550</td>   
            <td>1900</td>                                                                                                                             
        </tr>
        <tr>
            <td>2.000</td>
            <td>750</td> 
            <td>1150</td>      
            <td>1350</td>   
            <td>1700</td>                                                                                                                                        
        </tr>
        <tr>
            <td>3.000</td>
            <td></td> 
            <td>950</td>      
            <td></td>   
            <td></td>                                                                                                                                     
        </tr>   
        <tr>
            <td>5.000</td>
            <td>520</td> 
            <td>650</td>      
            <td>850</td>   
            <td>1200</td>                                                                                                                                      
        </tr>  
        <tr>
            <td>10.000</td>
            <td>350</td> 
            <td>550</td>      
            <td>750</td>   
            <td>1050</td>                                                                                                                                      
        </tr> 
        <tr>
            <td rowspan="5" style="background-color: aliceblue;">Fort 120</td>
            <td>1.000</td>
            <td>900</td> 
            <td>1400</td>      
            <td>1650</td>   
            <td>2000</td>                                                                                                                             
        </tr>
        <tr>
            <td>2.000</td>
            <td>800</td> 
            <td>1250</td>      
            <td>1450</td>   
            <td>1750</td>                                                                                                                                        
        </tr>
        <tr>
            <td>5.000</td>
            <td>570</td> 
            <td>690</td>      
            <td>890</td>   
            <td>1250</td>                                                                                                                                     
        </tr>          
        <tr>
            <td>10.000</td>
            <td>380</td> 
            <td>590</td>      
            <td>790</td>   
            <td>1150</td>                                                                                                                                      
        </tr>                      
      </table>
</div>
<br>

<div class="container" style="font-size: 13pt; color: #ff0000;">
    <ul style="padding: 20px; font-size: 14pt;">Ghi Chú :            
        <li>Thiết kế mẫu miễn phí: Quý Khách chỉ cần cung cấp thông tin công ty sẽ lên demo gửi duyệt File In</li>        
        <li>Quý khách có thể gửi kích thước theo yêu cầu</li>
        <li style="font-size: 14pt; color: #ff0000;"><strong>Bảng giá trên chưa bao gồm VAT 10% </strong></li>
    </ul>
</div>

<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY CÁCH IN BAO THƯ</h3>

<br>
<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody>
        <tr>
            <td style="text-align: left;">Công nghệ in</td>
            <td style="text-align: left;">In BAO THƯ bằng máy in Offset công nghiệp chuẩn hệ 4 màu CMYK</td>
        </tr>
        <tr>
            <td style="background-color: #d6d8d9;border-color: #bee5eb; text-align: left;">Chất liệu giấy</td>
            <td style="background-color: #d6d8d9;border-color: #bee5eb; text-align: left;">Giấy Fort 80 – 120gsm, Giấy Coucher,…</td>
        </tr>
        <tr>
            <td style="text-align: left;">Kích thước</td>
            <td style="text-align: left;">12 x 22cm, 18 x 25cm, 25 x 35cm,….Theo yêu cầu</td>
        </tr>
        <tr>
            <td style="background-color: #d6d8d9;border-color: #bee5eb; text-align: left;">Số lượng</td>
            <td style="background-color: #d6d8d9;border-color: #bee5eb; text-align: left;">In ít nhất 500 cái</td>
        </tr>
        <tr>
            <td style="text-align: left;">Thời gian</td>
            <td style="text-align: left;">3 ngày</td>
        </tr>  
        <tr>
            <td style="background-color: #d6d8d9;border-color: #bee5eb; text-align: left;">Thành phẩm</td>
            <td style="background-color: #d6d8d9;border-color: #bee5eb; text-align: left;">Bế dán bằng máy tự động, không dán tay nên độ đồng nhất sản phẩm là 99%</td>
        </tr>             
        <tr>            
            <td colspan="2" style="text-align: left; background-color: beige;">Đội ngũ kỹ thuật nhiều năm kinh nghiệm.</td>
        </tr>
        <tr>            
            <td colspan="2" style="text-align: left; background-color: beige;">Giấy in bao thư được nhập đúng tiêu chuẩn, chất lượng và định lượng.</td>
        </tr>
        <tr>            
            <td colspan="2" style="text-align: left; background-color: beige;">Số lượng bao thư thành phẩm từ đủ tới dư do bồi thêm giấy trừ hao hụt trong quá trình thi công.</td>
        </tr>
        <tr>            
            <td colspan="2" style="text-align: left; background-color: beige;">Giá thành in bao thu rẻ do in trực tiếp tại xưởng không qua trung gian.</td>
        </tr>       
    </tbody>
</table>

<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY TRÌNH ĐẶT IN </h3>

<br>

<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody>
        <tr>
            <td>1</td>
            <td class="quytrinh">Nhận File in trực tiếp hoặc qua Email : huynhduychu@gmail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td class="quytrinh">Xem File báo giá in bao thư qua mail hoặc gọi trực tiếp.</td>
        </tr>
        <tr>
            <td>3</td>
            <td class="quytrinh">Chuyển khoản cọc 50% đơn hàng.</td>
        </tr>
        <tr>
            <td>4</td>
            <td class="quytrinh">Tiến hành in</td>
        </tr>
        <tr>
            <td>5</td>
            <td class="quytrinh">Giao hàng tận nơi thanh toán 50% số tiền còn lại.</td>
        </tr>
        <tr>
            <td>6</td>
            <td class="quytrinh">Khách hàng ở các tỉnh, thành khác => chuyển khoản 100% tiền in công ty chúng tôi sẽ gửi chành xe, chuyển phát nhanh, nhà ga,… về tận nơi.</td>
        </tr>        
    </tbody>
</table>

<br>