<!-- image and line in header -->
<div>
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img class="imgs" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<!-- intro page and slogan -->
<div class="col-lg-12 text-center" style="padding-top: 100px; padding-bottom: 50px;">
    <h1 style="color: #0000ff;">IN THẺ TREO</h1>
    <!--<h3>Chất lượng làm nên thương hiệu</h3>-->
    <hr class="line-yellow" style="border-color: #fed136; border-width: .2rem; max-width: 3.25rem;">
</div>

<br>

<!-- intro page -->

<!-- img for product in paper -->
<div class="container">
    <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/1.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/2.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/3.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/4.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/13.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/5.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/8.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/11.jpg" alt="">               
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/12.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/14.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/15.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="intuigiay" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/thetreo/16.jpg" alt="">
            </a>
        </div>
    </div>
</div>
<!-- /.container -->
<br>
<!--bang bao gia-->
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ IN THẺ TREO</h3>
<br>

<div class="container" style="font-size: 16pt;">
	<table class="bangbaogia">
        <tr class="alert alert-danger">
          <th >Kích Thước</th>      
          <th >Số Lượng</th>  
          <th >Hình Dáng</th>                 
          <th >Đơn Giá</th>
          <th >Thành Tiền</th>
        </tr>        
        <tr>
            <td rowspan="3" style="background-color: aliceblue;"><p>50 x 30 mm</p>
                            <p>(1/3 Vị trí name card)</p>
            </td>
            <td>1.500</td>
            <td>Hình chữ nhật + đục lổ</td> 
            <td>110</td>      
            <td>165.000</td>                                                                                                                                          
        </tr>      
        <tr>
            <td>3.000</td>
            <td>Hình chữ nhật + đục lổ</td> 
            <td>90</td>      
            <td>270.000</td>                                                                                                                                                
        </tr>   
        <tr>
            <td>6.000</td>
            <td>Hình chữ nhật + đục lổ</td> 
            <td>80</td>      
            <td>480.000</td>                                                                                                                                                   
        </tr>  
        <tr>
            <td rowspan="3"><p>45 x 45 mm</p>
                            <p>(1/2 Vị trí name card)</p>
            </td>
            <td>1.000</td>
            <td>Hình vuông + đục lổ</td> 
            <td>130</td>      
            <td>130.000</td>                                                                                                                                          
        </tr>      
        <tr>
            <td>2.000</td>
            <td>Hình vuông + đục lổ</td> 
            <td>110</td>      
            <td>220.000</td>                                                                                                                                                
        </tr>   
        <tr>
            <td>4.000</td>
            <td>Hình vuông + đục lổ</td> 
            <td>90</td>      
            <td>360.000</td>                                                                                                                                                   
        </tr> 
        <tr>
            <td rowspan="3" style="background-color: aliceblue;">90 x 54 mm</td>
            <td>500</td>
            <td>Hình chữ nhật + đục lổ</td> 
            <td>260</td>      
            <td>130.000</td>                                                                                                                                          
        </tr>      
        <tr>
            <td>1.000</td>
            <td>Hình chữ nhật + đục lổ</td> 
            <td>180</td>      
            <td>180.000</td>                                                                                                                                                
        </tr>   
        <tr>
            <td>2.000</td>
            <td>Hình chữ nhật + đục lổ</td> 
            <td>160</td>      
            <td>320.000</td>                                                                                                                                                   
        </tr> 

      </table>
</div>
<br>


<div class="container" style="font-size: 13pt; color: #ff0000;">
    <ul style="padding: 20px; font-size: 14pt;">Ghi Chú :            
        <li>Phí thiết kế thẻ treo là 50.000đ/mẫu - KH chỉnh sửa tối đa 05 lần </li>        
        <li>Phí vận chuyển: 50.000đ / lượt – Khu vực nội thành</li>
        <li>Thẻ treo không cán màng vui lòng đặt số lượng ít nhất 3 mẫu</li>
        <li>Thẻ treo bo góc : thêm phí 50.000đ / mẫu</li>
        <li>Các loại gia công khác như: Ép kim, bế nổi, UV định hình vui lòng liên hệ 0766864391 để đc tư vấn trực tiếp tư vấn để có giá tốt nhất.</li>
        <li style="font-size: 14pt; color: #ff0000;"><strong>Bảng giá trên chưa bao gồm VAT 10% </strong></li>
    </ul>
</div>

<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY CÁCH IN TAG TREO</h3>

<br>
<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody>
        <tr>
            <td style="text-align: left;">Công nghệ in</td>
            <td style="text-align: left;">In Tag treo bằng máy in Offset 2 mặt, không giới hạn màu sắc</td>
        </tr>
        <tr>
            <td style="background-color: #d6d8d9;border-color: #bee5eb; text-align: left;">Chất liệu giấy</td>
            <td style="background-color: #d6d8d9;border-color: #bee5eb; text-align: left;">Giấy Coucher 300gsm.</td>
        </tr>
        <tr>
            <td style="text-align: left;">Kích thước</td>
            <td style="text-align: left;">Theo yêu cầu</td>
        </tr>
        <tr>
            <td style="background-color: #d6d8d9;border-color: #bee5eb; text-align: left;">Hình dáng</td>
            <td style="background-color: #d6d8d9;border-color: #bee5eb; text-align: left;">Cắt bế đục lổ thành phẩm theo yêu cầu</td>
        </tr>
        <tr>
            <td style="text-align: left;">Cán màng</td>
            <td style="text-align: left;">Cán màng mờ hoặc không cán màng</td>
        </tr>
        <tr>
            <td style="background-color: #d6d8d9;border-color: #bee5eb; text-align: left;">Số lượng</td>
            <td style="background-color: #d6d8d9;border-color: #bee5eb; text-align: left;">tối thiểu 500 tờ, tối đa là không giới hạn</td>
        </tr>
        <tr>
            <td style="text-align: left;">Thời gian</td>
            <td style="text-align: left;">1 ngày</td>
        </tr>                      
        <tr>            
            <td colspan="2" style="text-align: left; background-color: beige;">Đội ngũ kỹ thuật nhiều năm kinh nghiệm.</td>
        </tr>
        <tr>            
            <td colspan="2" style="text-align: left; background-color: beige;">Giấy in tag treo được nhập đúng tiêu chuẩn, chất lượng và định lượng.</td>
        </tr>
        <tr>            
            <td colspan="2" style="text-align: left; background-color: beige;">Số lượng thẻ treo thành phẩm từ đủ tới dư do bồi thêm giấy trừ hao hụt trong quá trình thi công.</td>
        </tr>
        <tr>            
            <td colspan="2" style="text-align: left; background-color: beige;">Giá thành in thẻ treo rẻ do in trực tiếp tại xưởng không qua trung gian.</td>
        </tr>       
    </tbody>
</table>

<br>
<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY TRÌNH ĐẶT IN </h3>

<br>

<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody>
        <tr>
            <td>1</td>
            <td class="quytrinh">Nhận File in trực tiếp hoặc qua Email : huynhduychu@gmail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td class="quytrinh">Xem File báo giá in bao thư qua mail hoặc gọi trực tiếp.</td>
        </tr>
        <tr>
            <td>3</td>
            <td class="quytrinh">Chuyển khoản cọc 50% đơn hàng.</td>
        </tr>
        <tr>
            <td>4</td>
            <td class="quytrinh">Tiến hành in</td>
        </tr>
        <tr>
            <td>5</td>
            <td class="quytrinh">Giao hàng tận nơi thanh toán 50% số tiền còn lại.</td>
        </tr>
        <tr>
            <td>6</td>
            <td class="quytrinh">Khách hàng ở các tỉnh, thành khác => chuyển khoản 100% tiền in công ty chúng tôi sẽ gửi chành xe, chuyển phát nhanh, nhà ga,… về tận nơi.</td>
        </tr>        
    </tbody>
</table>

<br>