<!-- image and line in header -->
<div style="display: block;margin: auto;">
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img style="width: 100%;" src="../../assets/imgs/home/header/11.jpg" alt="">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<!-- intro page and slogan -->
<div class="col-lg-12 text-center" style="padding-top: 100px; padding-bottom: 50px;">
    <h1 style="color: #0000ff;">IN CATALOGUE</h1>
    <!--<h3>Chất lượng làm nên thương hiệu</h3>-->
    <hr class="line-yellow" style="border-color: #fed136; border-width: .2rem; max-width: 3.25rem;">
</div>

<br>

<!-- intro page -->

<!-- img for product in paper -->
<div class="container">
    <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6 d-block mb-4 h-100">
            <!-- <a href="incatalogue" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/20.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/20.jpg" alt="https://salands.com" title="In Catalogue">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="incatalogue" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/21.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/21.jpg" alt="https://salands.com" title="In Catalogue">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="incatalogue" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/22.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/22.jpg" alt="https://salands.com" title="In Catalogue">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="incatalogue" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/23.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/23.jpg" alt="https://salands.com" title="In Catalogue">
        </div>
        <div class="col-lg-3 col-md-4 col-6 d-block mb-4 h-100">
            <!-- <a href="incatalogue" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/24.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/24.jpg" alt="https://salands.com" title="In Catalogue">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="incatalogue" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/11.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/11.jpg" alt="https://salands.com" title="In Catalogue">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="incatalogue" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/26.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/26.jpg" alt="https://salands.com" title="In catalogue">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="incatalogue" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/27.jpg" alt="">               
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/27.jpg" alt="https://salands.com" title="In Catalogue">  
        </div>
        <div class="col-lg-3 col-md-4 col-6 d-block mb-4 h-100">
            <!-- <a href="incatalogue" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/28.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/28.jpg" alt="https://salands.com" title="In Catalogue">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="incatalogue" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/29.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/29.jpg" alt="https://salands.com" title="In Catalogue">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="incatalogue" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/30.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/30.jpg" alt="https://salands.com" title="In Catalogue">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <!-- <a href="incatalogue" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/32.jpg" alt="">
            </a> -->
            <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/32.jpg" alt="https://salands.com" title="In Catalogue">
        </div>
    </div>
</div>
<!-- /.container -->
<br>
<!--bang bao gia-->
<h3 class="container alert alert-primary" style="color: #0000ff;">BẢNG BÁO GIÁ IN CATALOGUE</h3>
<br>

<table class="container bangbaogia"  style="font-size: 16pt;">
    <tr>
        <th rowspan="2"><p>Số Trang A4</p> <p>21 x 29 cm</p></th>
        <th>Quy Cách</th>
        <th colspan="3">In Offset CMYK Đóng Kim</th>
    </tr>
    <tr>
        <td rowspan="7">
            <p>Bìa và Ruột In cùng loại giấy C150</p>
            <p>Đóng cuốn thành phẩm</p>
        </td>
        <td>200 Cuốn</td>
        <td>500 Cuốn</td> 
        <td>1000 Cuốn</td>                                                                      
    </tr>
    <tr>
        <td>12 Trang</td>
        <td>22.000đ/cuốn</td>
        <td>10.000đ/cuốn</td> 
        <td>6.000đ/cuốn</td>                                                                      
    </tr>
    <tr>
        <td>16 Trang</td>
        <td>27.500đ/cuốn</td>
        <td>12.500đ/cuốn</td> 
        <td>7.500đ/cuốn</td>                                                                    
    </tr>
    <tr>
        <td>20 Trang</td>
        <td>34.000đ/cuốn</td>
        <td>15.000đ/cuốn</td> 
        <td>9.500đ/cuốn</td>                                                                       
    </tr>
    <tr>
        <td>24 Trang</td>
        <td>37.000đ/cuốn</td>
        <td>17.000đ/cuốn</td> 
        <td>10.000đ/cuốn</td>                                                                      
    </tr>
    <tr>
        <td>28 Trang</td>
        <td>43.500đ/cuốn</td>
        <td>20.000đ/cuốn</td> 
        <td>12.000đ/cuốn</td>                                                                       
    </tr>
    <tr>
        <td>32 Trang</td>
        <td>46.500đ/cuốn</td>
        <td>21.500đ/cuốn</td> 
        <td>12.500đ/cuốn</td>                                                                      
    </tr>   
    <tr style="color: #333399;">
        <td>12 Trang</td>
        <td rowspan="7">
            <p>Bìa Giấy Coucher C250 có cán màng và Ruột In giấy C150</p>
            <p>Đóng cuốn thành phẩm</p>
        </td>   
        <td >29.000đ/cuốn</td>
        <td>12.900đ/cuốn</td> 
        <td>6.900đ/cuốn</td>                                                                      
    </tr>   
    <tr style="color: #333399;">
        <td>16 Trang</td>            
        <td >35.000đ/cuốn</td>
        <td>15.500đ/cuốn</td> 
        <td>9.200đ/cuốn</td>                                                                      
    </tr>  
    <tr style="color: #333399;">
        <td>20 Trang</td>            
        <td >39.500đ/cuốn</td>
        <td>18.000đ/cuốn</td> 
        <td>9.900đ/cuốn</td>                                                                      
    </tr>  
    <tr style="color: #333399;">
        <td>24 Trang</td>            
        <td>44.000đ/cuốn</td>
        <td>20.5000đ/cuốn</td> 
        <td>12.000đ/cuốn</td>                                                                      
    </tr> 
    <tr style="color: #333399;">
        <td>28 Trang</td>            
        <td>49.000đ/cuốn</td>
        <td>22.5000đ/cuốn</td> 
        <td>13.500đ/cuốn</td>                                                                      
    </tr> 
    <tr style="color: #333399;">
        <td>32 Trang</td>            
        <td>55.000đ/cuốn</td>
        <td>26.000đ/cuốn</td> 
        <td>14.000đ/cuốn</td>                                                                      
    </tr>        
</table>

<br>

<div class="container" style="font-size: 13pt; color: #ff0000;">
    <ul style="padding: 20px; font-size: 14pt;">Ghi Chú :            
        <li>Nhận thiết kế File in catalogue với giá chỉ 100.000đ/trang</li>        
        <li style="font-size: 14pt; color: #ff0000;"><strong>Bảng giá trên chưa bao gồm VAT 10% </strong></li>
    </ul>
</div>

<div class="container" style="font-size: 13pt;">
    
    <div>
        <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif"> Quý khách đã có File in  => Gửi ngay cho chúng tôi qua mail <strong style="color: #3a10f5;">huynhduychu@gmail.com</strong> để nhận được báo giá nhanh chóng.
    </div>
    <div>
        <img class="wp-image-5521 alignnone" src="../../assets/imgs/home/boder/muiten.gif"> Quý khách chưa có File in  => Không sao! chúng tôi sẽ thiết kế file in và quý khách sẽ nhận ngay báo giá khi chúng tôi biết số lượng Quý khách cần in.
    </div>
</div>

<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY CÁCH IN CATALOGUE</h3>

<br>
<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody>
        <tr>
            <td>Công nghệ in</td>
            <td>In Catalogue bằng máy in Offset công nghiệp chuẩn hệ 4 màu CMYK</td>
        </tr>
        <tr>
            <td>Số Trang</td>
            <td>Số trang phải chẵn và chia hết cho 4</td>
        </tr>
        <tr>
            <td>Định lượng giấy</td>
            <td>Loại giấy C80- C300</td>
        </tr>
        <tr>
            <td>Catalogue chuẩn</td>
            <td>Catalogue chuẩn thường bìa giấy dày hơn ruột như: Bìa C250gsm, Ruột C150gsm.</td>
        </tr>
        <tr>
            <td>Cán màng</td>
            <td>Có cán màng mờ hoặc màn bóng tùy khách hàng yêu cầu</td>
        </tr>
        <tr>
            <td>Đóng kim</td>
            <td>Đóng kim hoặc dán keo theo yêu cầu</td>
        </tr>
        <tr>
            <td>Cắt, cấn, bế</td>
            <td>Theo yêu cầu</td>
        </tr>
        <tr>            
            <td colspan="2">Số lượng Catalogue thành phẩm luôn dư do bồi thêm giấy trừ hao hụt trong quá trình thi công.</td>
        </tr>
        <tr>            
            <td colspan="2">Giấy in catalogue được nhập đúng tiêu chuẩn, chất lượng và định lượng.</td>
        </tr>
        <tr>            
            <td colspan="2">Giá thành in catalogue rẻ do in trực tiếp tại xưởng không in qua trung gian.</td>
        </tr>
    </tbody>
</table>

<br>

<h3 class="container alert alert-primary" style="color: #0000ff;">QUY TRÌNH ĐẶT IN </h3>

<br>

<table class="container" style="border: 1px; font-size: 16pt;">
    <tbody>
        <tr>
            <td>1</td>
            <td class="quytrinh">Nhận File in trực tiếp hoặc qua Email : huynhduychu@gmail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td class="quytrinh">Xem File báo giá in catalogue qua mail hoặc gọi trực tiếp.</td>
        </tr>
        <tr>
            <td>3</td>
            <td class="quytrinh">Chuyển khoản cọc 50% đơn hàng.</td>
        </tr>
        <tr>
            <td>4</td>
            <td class="quytrinh">Tiến hành in name card</td>
        </tr>
        <tr>
            <td>5</td>
            <td class="quytrinh">Giao hàng tận nơi thanh toán 50% số tiền còn lại.</td>
        </tr>
        <tr>
            <td>6</td>
            <td class="quytrinh">Khách hàng ở các tỉnh, thành khác => chuyển khoản 100% tiền in công ty chúng tôi sẽ gửi chành xe, chuyển phát nhanh, nhà ga,… về tận nơi.</td>
        </tr>        
    </tbody>
</table>

<br>


<br>
<h3 class="container alert alert-primary" style="color: #0000ff;">MẪU CATALOGUE ĐẸP</h3>
<br>
<div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/26.jpg">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/27.jpg">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/28.jpg">   
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/11.jpg">   
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/13.jpg">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/33.jpg">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/23.jpg">   
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/catalogue/20.jpg">   
      </div>
    </div>
  </div>