<!-- Header -->
<header>
	<div class='head'>			 		
		<a class='address-head'>
			<i class='fa fa-map-marker' aria-hidden='true'></i> 
			<span>30 Đường Số 6, Phường Bình Hưng Hòa B, Quận Bình Tân</span>			
		</a>		
		<a class='email-head'>
			<i class='fa fa-envelope' arua-hidden='true'></i>
			<span>huynhduychu@gmail.com</span>			
		</a>
		<a class='phone-head'>
			<i class='fa fa-phone' arua-hidden='true'></i>
			<span>0908.776.569</span>
		</a>			
	</div>
</header>
<!-- Menu -->
<div class='menu'>
	
	<div class='menu_left'>
		<div class="row">	
			<a href="home" >				
				<img class="img-responsive" src="../assets/imgs/songviet.jpg" style="padding-right: 150px" router-link="/home">
			</a>
		<ul>
			<li><a routerLink="home">TRANG CHỦ</a></li>
			<li><a routerLink="aboutus">GIỚI THIỆU</a></li>
			<li class="dropdown1">
				<div>
					<a routerLink="product" class="dropbtn">SẢN PHẨM</a>
				</div>
				
				<div>
					<div class="menu-dropdown-content-left">
						<a routerLink="/printingnamecard">In NameCard</a>				
						<a routerLink="/intoroi">In Tờ Rơi</a>
						<a routerLink="/incatalogue">In Catalogue</a>
						<a routerLink="/intuigiay">In Túi Giấy</a>
						<a routerLink="/inbaothu">In Bao Thư</a>
						<a routerLink="/inthetreo">In Thẻ Treo</a>
						<a routerLink="/inbaolixi">In Bao Lì Xì</a>											
					</div>					
				</div>				
				
			</li>							
			<li><a routerLink="contact">LIÊN HỆ</a></li>
			<li><a routerLink="sendfile">GỬI FILE</a></li>						
		</ul>	
		</div>
	</div>
	<div class='menu_right'>
		<form action="">
			<input type="search">
			<i class="fa fa-search"></i>
		</form>
		<ul>			
			<li class="dropdown2">
				<i class="fas fa-globe-asia"></i>
				<div class="menu-dropdown-content-right">
					<a routerLink="home">ENG</a>
					<a routerLink="home">VIE</a>
				</div>
			</li>			
			<li>
				<a href="http://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
			</li>
			<li>
				<a hreff="http://skype" target="_blank"><i class="fab fa-skype"></i> </a>				
			</li>
			<!--
			<li><i class="fas fa-user-circle"></i></li>
			<li id="cart">
			<i class="fas fa-shopping-cart"></i>
			<span class='badge badge-warning' id='lblCartCount'>0</span>
			</li>
			-->
		</ul>
	</div>
</div>

<router-outlet (activate)= "onActivate($event, outlet)" #outlet></router-outlet>
<!--<router-outlet (activate)= "onActivate($event, outlet)" #outlet></router-outlet>-->
<!-- footer -->
<div class="container">
	<hr class="mt-2 mb-5">

	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12 col480 margintb10 block-footer1">
			<a href="/home">
				<img class="" src="../../assets/imgs/logo1.jpg" alt="">
			</a>
			<!-- <a href="https://placeit.net/c/videos/?f_types=video">
				<video>
					video neu co 
					<source src="" type="video/web">
					<source src="" type="video/mp4">
				</video>
			</a> -->
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 col480 margintb10 block-footer1">	
			<h3 class="quydinh" style="text-align: left;">​Đặt hàng trực tiếp tại:</h3>						
				<div>30 đường số 6, P.Bình Hưng Hòa B, Q. Bình Tân</div>
				<h5 class="quydinh" style="text-align: left;">Đặt hàng qua mạng vui lòng liên hệ:</h5>	
				<div>Điện Thoại: 0908.776.569</div>		
				<div> Email : huynhduychu@gmail.com</div>	
				<div>(Thông tin: Số lượng, kích thước, loại giấy, số điện thoại ...)</div>							
			<h3 class="quydinh" style="text-align: left">Thông Tin Thanh Toán</h3> 
			<div>
				<ul>
					<li>
						<a>Thanh Toán Trực Tiếp Khi Nhận Hàng</a>
					</li>
					<li>
						<a routerLink="/payment" style="color: #7fbd00;">Thanh Toán Chuyển Khoản</a>
					</li>
				</ul>
			</div>						
			<!--<div style="padding: auto">
				<img src="../../assets/imgs/app/2.png">
			</div>-->
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 col480 margintb10 block-footer1">
			<h3 class="quydinh" style="text-align: center">Thông Tin Liên Hệ</h3>
			<div style="padding: 10px;">
				<h5>Văn Phòng</h5>
				<div>Địa chỉ: 30 Đường số 6, Phường Bình Hưng Hòa B, Quận Bình Tân, TPHCM</div>
				<div>Email: <a href="https://mail.google.com" target="_blank">huynhduychu@gmail.com</a></div>
				<div>HotLine: 0908.776.569</div>
			</div>
			<!-- will back when have company-->
			<!--
			<div style="padding: 10px;">
				<h5>Xưởng Sản Xuất</h5>
				<div>30 Đường số 6, Phường Bình Hưng Hòa B, Quận Bình Tân, TPHCM</div>
				<div>dien thoai xuong</div>
				<div>HotLine : 0909456789</div>
			</div>
			-->
			<!---->
		</div>
	</div>
</div>

<div class="footer" style="background-color: black; padding: 30px;">
	<div class="container" style="text-align: center; margin-left: auto; margin-right: auto; color: white;">
		<div>
			Copyright © 2019 Sóng Việt. All Rights Reserved.
		</div>
	</div>
</div>