<!-- Header -->
<header>
	<div class='head'>			 		
		<a class='address-head'>
			<i class='fa fa-map-marker' aria-hidden='true'></i> 
			<span>30 Đường Số 6, Phường Bình Hưng Hòa B, Quận Bình Tân</span>			
		</a>		
		<a class='email-head'>
			<i class='fa fa-envelope' arua-hidden='true'></i>
			<span>huynhduychu@gmail.com</span>			
		</a>
		<a class='phone-head'>
			<i class='fa fa-phone' arua-hidden='true'></i>
			<span>0909456789</span>
		</a>			
	</div>
</header>
<!-- Menu -->
<div class='menu'>
	
	<div class='menu_left'>
		<div class="row">			
			<img src="../assets/imgs/songviet.PNG" style="padding-right: 150px" router-link="/home">
		
		<ul>
			<li><a routerLink="home">TRANG CHỦ</a></li>
			<li><a routerLink="aboutus">GIỚI THIỆU</a></li>
			<li class="dropdown1">
				<div>
					<a routerLink="product" class="dropbtn">SẢN PHẨM</a>
				</div>
				<!--
				<div>
					<div class="menu-dropdown-content-left">
						<a routerLink="/printingpaper">In Trên Giấy</a>				
						<a routerLink="/printingdecal">In Trên Decal</a>
						<a routerLink="/printingpp">In Kỹ Thuật Số (PP)</a>
						<a routerLink="/printingadvertising">In Trên Vật Phẩm Quảng Cáo</a>
						<a routerLink="/product">In Trên Vật Phẩm Quà Tặng</a>
						<a routerLink="/product">In Trên Vật Liệu Mới</a>
					</div>
				</div>
				-->
			</li>							
			<li><a routerLink="contact">LIÊN HỆ</a></li>
			<li><a routerLink="sendfile">GỬI FILE</a></li>						
		</ul>	
		</div>
	</div>
	<div class='menu_right'>
		<form action="">
			<input type="search">
			<i class="fa fa-search"></i>
		</form>
		<ul>			
			<li class="dropdown2">
				<i class="fas fa-globe-asia"></i>
				<div class="menu-dropdown-content-right">
					<a routerLink="home">ENG</a>
					<a routerLink="contact">VIE</a>
				</div>
			</li>			
			<li>
				<a href="http://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
			</li>
			<li>
				<a hreff="http://skype" target="_blank"><i class="fab fa-skype"></i> </a>				
			</li>
			<!--
			<li><i class="fas fa-user-circle"></i></li>
			<li id="cart">
			<i class="fas fa-shopping-cart"></i>
			<span class='badge badge-warning' id='lblCartCount'>0</span>
			</li>
			-->
		</ul>
	</div>
</div>

<router-outlet (activate)= "onActivate($event, outlet)" #outlet></router-outlet>

<!-- footer -->
<div class="container">
	<hr class="mt-2 mb-5">

	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12 col480 margintb10 block-footer1">
			<a href="/home">
				<img class="" src="../../assets/imgs/logo.png" alt="">
			</a>
			<a href="https://placeit.net/c/videos/?f_types=video">
				<video>
					video neu co 
					<source src="" type="video/web">
					<source src="" type="video/mp4">
				</video>
			</a>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 col480 margintb10 block-footer1">
			<a></a>
			<h3 style="text-align: center">Phương Thức Thanh Toán</h3>
			<div>
				<ul>
					<li>
						<a>Thanh Toán Trực Tiếp</a>
					</li>
					<li>
						<a routerLink="/payment">Thanh Toán Chuyển Khoản</a>
					</li>
				</ul>
			</div>
			<div style="padding: auto">
				<img src="../../assets/imgs/logo1.png">
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 col480 margintb10 block-footer1">
			<h3 style="text-align: center">Thông Tin Liên Hệ</h3>
			<div style="padding: 10px;">
				<h5>Văn Phòng</h5>
				<div>30 Đường số 6, Phường Bình Hưng Hòa B, Quận Bình Tân, TPHCM</div>
				<div>Email: <a href="https://mail.google.com" target="_blank">huynhduychu@gmail.com</a></div>
				<div>Điện Thoại : 0909456789</div>
			</div>
			<div style="padding: 10px;">
				<h5>Xưởng Sản Xuất</h5>
				<div>30 Đường số 6, Phường Bình Hưng Hòa B, Quận Bình Tân, TPHCM</div>
				<div>dien thoai xuong</div>
				<div>HotLine : 0909456789</div>
			</div>
		</div>
	</div>
</div>

<div class="footer" style="background-color: black; padding: 30px;">
	<div class="container" style="text-align: center; margin-left: auto; margin-right: auto; color: white;">
		<div>
			Copyright © 2019 Sóng Việt. All Rights Reserved.
		</div>
	</div>
</div>