<header>
	<div class='head'>			 		
		<a class='address-head'>
			<i class='fa fa-map-marker' aria-hidden='true'></i> 
			<span>30 Đường Số 6, Phường Bình Hưng Hòa B, Quận Bình Tân</span>			
		</a>		
		<a class='email-head'>
			<i class='fa fa-envelope' arua-hidden='true'></i>
			<span>huynhduychu@gmail.com</span>			
		</a>
		<a class='phone-head'>
			<i class='fa fa-phone' arua-hidden='true'></i>
			<span>0766864391</span>
		</a>			
	</div>
</header>
<div class='menu'>
	<div class='menu_left'>
		<ul>
			<li><a routerLink="home">HOME</a></li>
			<li class="dropdown">
				<a routerLink="product" class="dropbtn">PRODUCT</a>
				<div class="menu-dropdown-content-left">
					<a href="">Product</a>
					<a href="">Contact</a>
					<a href="">Send File</a>	
					<a href="">About Us</a>
				</div>
			</li>			
			<li><a routerLink="contact">CONTACT</a></li>
			<li><a routerLink="sendfile">SEND FILE</a></li>
			<li><a routerLink="aboutus">ABOUT US</a></li>				
		</ul>	
	</div>
	<div class='menu_right'>
		<form action="">
			<input type="search">
			<i class="fa fa-search"></i>
		</form>
		<ul>
			<li class="dropdown">
				<i class="fas fa-globe-asia"></i>
				<div class="menu-dropdown-content-right">
					<a href="#">ENG</a>
					<a href="#">VIE</a>
				</div>
			</li>
			<li><i class="fab fa-facebook"></i></li>
			<li><i class="fas fa-user-circle"></i></li>
			<li id="cart">
				<i class="fas fa-shopping-cart"></i>
				<span class='badge badge-warning' id='lblCartCount'>0</span>
			</li>
		</ul>
	</div>
</div>

<footer>
	<div class="line-CMYK">
		<div style="display: inline-block; background-color: royalblue; height: 10px; width: 25%"></div>
		<div style="display: inline-block; background-color: #ff3399; height: 10px; width: 25%"></div>
		<div style="display: inline-block; background-color: yellow; height: 10px; width: 25%"></div>
		<div style="display: inline-block; background-color: black; height: 10px; width: 25%"></div>
	</div>
	<!--
	<div class="foot-logo">
		<div id="logo"></div>
	</div>
	-->
	<div class="foot-menu">
		<ul>
			<li><a router="home">Home</a></li>
			<li><a router="hotsale">Hot Sale</a></li>
			<li><a router="help">Help</a></li>
			<li><a router="aboutus">About</a></li>
		</ul>	
	</div>
	<p id="detail">© 2019 In An web. All Rights Reserved.</p>
</footer>

<router-outlet></router-outlet>