<div class="payment">
    <div class="paymentcontent">
        <h4>Thông Tin Chuyển Khoản</h4>
        <div>Ngân Hàng <strong>Á Châu ACB</strong> -chi nhánh: <strong> Maximark Cộng Hòa </strong></div>
        <div>Số TK: <Strong>0528549</Strong></div>
        <div>Chủ Tài Khoản:<strong> Huỳnh Duy Chữ </strong></div>
    </div>
    <div class="paymentcontent">
        <div>Ngân Hàng <strong>Á Châu ACB</strong> -chi nhánh: <strong> Maximark Cộng Hòa </strong></div>
        <div>Số TK: <Strong>0528549</Strong></div>
        <div>Chủ Tài Khoản:<strong> Huỳnh Duy Chữ </strong></div>
    </div>
    <div class="paymentcontent">
        <div>Ngân Hàng <strong>Á Châu ACB</strong> -chi nhánh: <strong> Maximark Cộng Hòa </strong></div>
        <div>Số TK: <Strong>0528549</Strong></div>
        <div>Chủ Tài Khoản:<strong> Huỳnh Duy Chữ </strong></div>
    </div>
</div>