<!-- image and line in header -->
<div>
    <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div>
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<!-- intro page and slogan -->
<div class="col-lg-12 text-center" style="padding-top: 100px; padding-bottom: 50px;">
    <h1 style="color: #0000ff;">IN NAME CARD – CARD VISIT – IN DANH THIẾP</h1>
    <h3>Chất lượng làm nên thương hiệu</h3>
    <hr class="line-yellow" style="border-color: #fed136; border-width: .2rem; max-width: 3.25rem;">
</div>
<!-- coppy from vinhPhat-->
<div class="container" style="font-size: 14pt;">
    <p>
        <strong>Công ty thiết kế in ấn Sóng Việt</strong> chuyên nhận <strong>in name card, in card visit, in danh thiếp</strong> trên nhiều loại giấy và kích thước đa dạng theo yêu cầu khách hàng trên toàn Quốc.        
    </p>
    <p>
        Công nghệ <strong>in name card</strong> bằng máy <strong>in offset</strong> hiện đại nhất không giới hạn về màu sắc, hình ảnh cần hiển thị, công xuất lớn, tộc độ in card visit nhanh sẽ đáp ứng được tất cả các yêu cầu của khách hàng.
    </p>
    <p>
        Là công ty<strong> in card visit</strong> hàng đầu trên thị trường chúng tôi chủ động được trong tất cả các khâu sản xuất giúp giảm giá thành sản phẩm trực tiếp từ khâu đầu tiên nên giá in name card tại <strong>Sóng Việt</strong> luôn rẻ hơn so với trên thị trường từ 10 – 20%.

        Rẻ hơn thị trường là vậy nhưng chất lượng giấy, độ dày của giấy và số lượng luôn luôn được đảm bảo và cũng là tiêu chí phát triển của công ty: “nhanh – rẻ – đẹp – chất lượng”
    </p>
    
</div>
<br>


<!-- product in paper -->
<!-- design by Chu Huynh -->
<!--
<div class="product" style="padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto; width: 1140px; padding-top: 50px;">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">In Trên Vật Phẩm Quảng Cáo</h1>
    
    <hr class="mt-2 mb-5">

    <div class="row" style="padding: 15px; ">
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product1 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/namecard_printingpaper.jpg" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct1>
                <h4>Name Card</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product2 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/toroi_printingpaper.jpg" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct2>
                <h4>Tờ Rơi</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product3 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/brochure_printingpaper.jpg" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct3>
                <h4>Brochure</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product4 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/tuigiay_printingpaper.jpg" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct4>
                <h4>Túi Giấy</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product5 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/lichdeban_printingpaper2.jpg" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct5>
                <h4>Lịch Để Bàn</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>        
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product6 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/lichdeban_printingpaper1.jpg" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct6>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product7 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/test10.jpg" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct6>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-8 portfolio-item">
            <a class=product8 data-toggle="modal">
                <div class="portfolio-hover"></div>
                <img src="../../assets/imgs/4.png" alt="" style="margin :auto; display: table">
            </a>
            <div class=noteproduct6>
                <h4>san pham</h4>
                <p class="text-multi"> ghi chu san pham </p>
            </div>
        </div>   
    </div>
    <div class="row">
        <button routerLink="product" type="button" class="btn btn-primary" style="margin-left:auto; margin-right: auto;">Xem Thêm</button>
    </div>
</div>

<div class="container">
    <hr class="mt-2 mb-5">
</div>
-->

<!-- intro page -->

<!-- img for product in paper -->
<div class="container">
    <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6">
            <a href="printingpaper" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/5.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/6.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/7.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/8.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/9.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/10.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/24.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/28.jpg" alt="">               
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/16.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/17.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/20.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/namecard/22.jpg" alt="">
            </a>
        </div>
    </div>
</div>
<!-- /.container -->
<div class="container" style="font-size: 14pt;">
    <p>
        <strong>Card visit, name card, danh thiếp</strong> là một trong các ấn phẩm rất quan trọng nhất của bộ nhận diện thương hiệu của công ty, doanh nghiệp.
    </p>
    <p>
        Vì <strong>card visit, name card, danh thiếp</strong> còn là nơi lưu trữ thông tin liên hệ của một cá nhân đại diện công ty khi giao dịch với đối tác, khách hàng của mình.
    </p>
    <p>
        Để có <strong>card visit</strong> đẹp, chuyên nghiệp mang lại hiệu quả cao trong giao tiếp thì rất cần đến một công ty in <Strong>card visit</Strong> chuyên nghiệp, kinh nghiệm và thiết kế giỏi nhất.
    </p>
    <br>
</div>

<!-- IMAGE MACHELINE OFFSET-->
<br>
<br>
<br>


<div class="container" style="font-size: 14pt;">
    <p>
    Công ty in <strong>Sóng Việt</strong> được khách hàng đánh giá là địa chỉ in card visit hàng đầu tại TpHCM nhờ có được những ưu điểm nổi bật như sau:
    </p>
    <p>
    + <strong>In trực tiếp</strong> không qua trung gian nào nên giá in card visit rẻ nhất nhì toàn Quốc.
    </p>
    <p>
    + Công nghệ <strong>in Offset</strong> hiện đại chạy bài in name card bằng máy lớn độ phủ màu đạt 100% khổ in.
    </p>
    <p>
    + Kỹ thuật ghép bài tiên tiến nhất, 1 lần in với số lượng lớn danh thiếp, name card, card visit của nhiều khách hàng khác nhau trên 1 bảng in lớn nên giá sẽ giảm trực tiếp từ khâu xuất kẽm.
    </p>
    <p>
    + <strong>Thời gian</strong> in danh thiếp, name card, card visit nhanh (<strong> chỉ 1 ngày</strong> là có hàng nếu Quý khách có sẵn File in).
    </p>
    <p>
    + Trực tiếp gia công các khâu: <strong>cán màng, cắt, bế, vô hộp thành phẩm</strong> tại công ty => Giảm giá thành và thời gian chờ của sản phẩm. 
    </p>
    <p>
    + <strong>Chất lượng giấy tốt, đúng độ dày, độ lán bóng</strong> của giấy dùng chuyên in name card, card visit, danh thiếp.
    </p>
</div>

<!--bang bao gia-->
<h3 class="container">BẢNG BÁO GIÁ</h3>
<div class="container" style="font-size: 16pt;">
	<tr class="odd">
		<td style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 14pt;">
			<span>Số Lượng In</span>
		</td>
		<td style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 14pt;">
			<span>Đơn Giá</span>
		</td>
	</tr>
</div>

<h5 class="container">Nếu Quý khách là công ty in, công ty quảng cáo, tiệm photocoppy, dịch vụ in ấn, vui lòng thông báo cho chúng tôi biết để có giá ưu đãi cho đại lý tốt nhất !</h5>
<br>
<div class="container">
    <p>– Bảng giá trên chưa bao gồm 10% thuế GTGT</p>
    <p>– Bảng giá trên chưa bao gồm chi phí thiết kế name card 50,000đ, vẻ lại logo đơn giản miễn phí.</p>
</div>