<!-- image and line in header -->
<div style="display: block;margin: auto;"> 
    <!-- <div class="imgs" style="width: 100%; height: 100px; color: burlywood; background-color:black" ></div> -->
    <img style="width: 100%;" src="../../assets/imgs/home/header/11.jpg" alt="https://inansongviet.com">
</div>
<div>
    <div style="background-color: royalblue; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: #ff3399; height: 5px; width: 25%; float: left;"></div>
    <div style="background-color: yellow; height: 5px; width: 25%; float: left"></div>
    <div style="background-color: black; height: 5px; width: 25%; float: left;"></div>
</div>

<!-- intro page and slogan -->
<div class="col-lg-12 text-center" style="padding-top: 100px; padding-bottom: 50px;">
    <h1 style="color: #0000ff;">IN NHÃN DÁN STICKER</h1>
    <!--<h3>Chất lượng làm nên thương hiệu</h3>-->
    <hr class="line-yellow" style="border-color: #fed136; border-width: .2rem; max-width: 3.25rem;">
</div>
<div class="container">
    <H1>DECAL LÀ GÌ</H1>
    <div style="font-size: 14pt;">Decal, hay đề can, là một loại chất liệu có sẵn một lớp keo. Chúng có thể tự dính lên bề mặt khác sau khi bóc lớp bảo vệ. <br>
        + Các lớp cấu tạo decal: <br>

        + Lớp bề mặt in decal: Chúng được biết đến là lớp giấy, giấy tráng nhựa hoặc là lớp nhựa trong. Khi in decal, đây sẽ là lớp trực tiếp bám màu in mực. <br>
        
        + Keo dán:  Một lớp keo mỏng được phủ lên phía sau lớp bề mặt. <br>
        
        + Lớp bảo vệ: chúng có nhiệm vụ bảo vệ lớp keo khi bạn chưa sử dụng. <br>
    </div>
</div>

<br>

<div class="container">
    <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/15.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/16.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/17.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/18.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/19.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/20.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/21.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/22.jpg" alt="https://inansongviet.com" title="nhãn dán">               
            </a>
        </div>       
    </div>
</div>

<br><br>
<div class="container">
    <H1>PHÂN LOẠI DECAL</H1>
    <h3>Decal phổ biến có 2 loại là Deal Giấy và Decal Nhựa </h3>
    <br>
    <h4>Decal giấy là gì?</h4>
    <div style="font-size: 14pt;">
        - Decal giấy là một loại decal giống như decal nhựa hay decal Kraft, nó được dùng khá phổ biến, có thể đó chính là một loại tem nhãn mác có thể tự dính, gồm 2 mặt.
        Mặt trên sẽ hiển thị các thông tin về thương hiệu, sản phẩm, mặt còn lại được tráng keo, chỉ cần dùng áp lực nhỏ là có thể dán vào sản phẩm. <br>
        
        <h5> Vai trò đặc biệt quan trọng của decal giấy:</h5>
        
        +  Đối với doanh nghiệp: <br>
         - Đây là công cụ để cung cấp thông tin về sản phẩm đồng thời giúp giới thiệu, quảng bá sản phẩm, thương hiệu. Là kênh marketing hiệu quả mà lại tốn ít chi phí. <br>
        
        +  Đối với người tiêu dùng: 
         - Trên decal giấy được thiết kế với đầy đủ thông tin cũng như nguồn gốc xuất xứ của sản phẩm, giúp người tiêu dùng có đủ những thông tin cơ bản, căn cứ vào đó để lựa chọn hàng hóa cho phù hợp với nhu cầu. <br>
        
        + Đối với các cơ quan chức năng: 
         - Nhờ có decal giấy được dán trên sản phẩm giúp các cơ quan chức năng kiểm tra, kiểm soát hàng hóa dễ dàng hơn, từ đó có thể tránh được nạn hàng giả, hàng nhái.

        Decal giấy: thường được sử dụng để in tem, nhãn mác sản phẩm, logo dán, các hình dán trẻ em, các loại sticker... được làm bằng chất liệu giấy, tùy theo nhu cầu có thể cán thêm màng bóng, hoặc màng mờ để bảo vệ lớp mực in và chống thấm nước. được  bế demi theo nhiều hình dạng khác nhau, bế sát với thiết kế. <br>

        + ưu điểm: giá thành thấp
                
    </div>        
    
</div>


<br>
<br>

<h1 class="container">Sản phẩm Song Việt đã hiện thực</h1>

<br>
<br>

<div class="container">
    <div class="row text-center text-lg-left">
    
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/1.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/2.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/3.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/4.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/5.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/6.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/7.jpg" alt="https://inansongviet.com" title="nhãn dán">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a [routerLink]="['/sticker']" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../assets/imgs/home/product/decal/8.jpg" alt="https://inansongviet.com" title="nhãn dán">               
            </a>
        </div>       
    </div>
</div>

<br>


<div class="container" style="font-size: 14pt;">
    <h4>Decal nhựa là gì?</h4>
    <div>
        Decal nhựa: sử dụng để in tem, cái hình dán xe ô tô, dán bình đựng nước , có các loại decal nhựa thông dụng  là decal nhựa trong và decal nhựa sữa. tương tự decal giấy, decal nhựa cũng được bế sát với thiết kế, nhiều hình dáng đa dạng.
    </div>
    <div>Ưu điểm của decal nhựa <br>
        Decal nhựa có độ bền cao, dẻo dai, chịu nhiệt tốt, chịu được độ ẩm, chống thấm nước, không phai màu. bám dính trên nhiều chất liệu.

    </div>
    <div>khuyết điểm: giá thành cao</div>
</div>


